---
layout: home
title: ProvenCFO - Trusted Financial Partner
tagline: ProvenCFO ensures your accounting and information systems are working for you.
header_image:   dashboard_header1.png
---
{% include JB/setup %}
{% include JB/tags_list %}


<div class="jumbotron">
  <div class="container mt-5 pt-5 mt-0">
    <div class="icon_about d-inline-block pt-3"></div><div class="ml-3 small bold d-inline-block" style="top:-14px; position: relative;">About ProvenCFO</div>
    <div class="row mt-3">
      <div class="col-12">
          <img src="https://via.placeholder.com/1440x500" class="img-fluid" alt="Responsive image">
      </div>
    </div>
  </div>
</div>


<div class="container stdContainer">
  <div class="row justify-content-center mb-md-n5">
    <div class="col-xl-8 col-lg-8 col-md-10 col-12 pb-5">
      <div class=""><h1>We are ProvenCFO!</h1></div>
      <div class="mt-5">
        <p>ProvenCFO was founded in 2017. We started out with two people, and today we’re a company of about 13 located in beautiful Provo, Utah.</p>
        <p class="mt-5">We’re bookkeepers, hikers, accountants, musicians, engineers, surfers, technologists, pet-lovers, developers, runners, analysts, volunteers, information system experts, parents, and hard workers.</p>
        <p class="mt-5">With such a diverse group of people, from so many different places, we bring a unique perspective to everything we do. We challenge the status quo, and look for ways to make business information systems better.</p>
      </div>
    </div>
  </div>
</div>

<div class="container stdContainer">
  <div class="row justify-content-center mb-md-n5">
    <div class="col-xl-8 col-lg-8 col-md-10 col-12 pb-5">
      <div class="text-center"><h4>Our talented & experienced team delivers amazing results.</h4></div>
    </div>
    <div class="col-10 mt-5">
      <div class="row justify-content-center">
        <div class="col-xl-3 col-md-6 col-9 mb-3">
          <img src="https://via.placeholder.com/255x230" class="img-fluid" alt="Responsive image">
          <div class="bold mt-2">Jon Willson</div><div class="icon_linkedinDark"></div>
          <div class="author weirdposition">Partner, Co-founder</div>
        </div>
        <div class="col-xl-3 col-md-6 col-9 mb-3">
          <img src="https://via.placeholder.com/255x230" class="img-fluid" alt="Responsive image">
          <div class="bold mt-2">Dave Willson</div><div class="icon_linkedinDark"></div>
          <div class="author weirdposition">Partner, Co-founder</div>
        </div>
        <div class="col-xl-3 col-md-6 col-9 mb-3">
          <img src="https://via.placeholder.com/255x230" class="img-fluid" alt="Responsive image">
          <div class="bold mt-2">Jason Blickenstaff</div><div class="icon_linkedinDark"></div>
          <div class="author weirdposition">Partner</div>
        </div>
        <div class="col-xl-3 col-md-6 col-9 mb-3">
          <img src="https://via.placeholder.com/255x230" class="img-fluid" alt="Responsive image">
          <div class="bold mt-2">Sam Willson</div><div class="icon_linkedinDark"></div>
          <div class="author weirdposition">Partner</div>
        </div>
      </div>
    </div>
    <div class="col-10 mt-5">
      <div class="row justify-content-center">
        <div class="col-xl-3 col-md-6 col-9 mb-3">
          <img src="https://via.placeholder.com/255x230" class="img-fluid" alt="Responsive image">
          <div class="bold mt-2">Kami Ball</div><div class="icon_linkedinDark"></div>
          <div class="author weirdposition">Partner</div>
        </div>
        <div class="col-xl-3 col-md-6 col-9 mb-3">
          <img src="https://via.placeholder.com/255x230" class="img-fluid" alt="Responsive image">
          <div class="bold mt-2">David Lee</div><div class="icon_linkedinDark"></div>
          <div class="author weirdposition">Partner</div>
        </div>
        <div class="col-xl-3 col-md-6 col-9 mb-3">
          <img src="https://via.placeholder.com/255x230" class="img-fluid" alt="Responsive image">
          <div class="bold mt-2">Brennan Roney</div><div class="icon_linkedinDark"></div>
          <div class="author weirdposition">Partner</div>
        </div>
        <div class="col-xl-3 col-md-6 col-9 mb-3">
          <img src="https://via.placeholder.com/255x230" class="img-fluid" alt="Responsive image">
          <div class="bold mt-2">Jake Cheesman</div><div class="icon_linkedinDark"></div>
          <div class="author weirdposition">Partner</div>
        </div>
      </div>
    </div>
    <div class="col-10 mt-5">
      <div class="row justify-content-center">
        <div class="col-xl-3 col-md-6 col-9 mb-3">
          <img src="https://via.placeholder.com/255x230" class="img-fluid" alt="Responsive image">
          <div class="bold mt-2">KC Franson</div><div class="icon_linkedinDark"></div>
          <div class="author weirdposition">Associate</div>
        </div>
        <div class="col-xl-3 col-md-6 col-9 mb-3">
          <img src="https://via.placeholder.com/255x230" class="img-fluid" alt="Responsive image">
          <div class="bold mt-2">Adam Lewis</div><div class="icon_linkedinDark"></div>
          <div class="author weirdposition">Associate</div>
        </div>
        <div class="col-xl-3 col-md-6 col-9 mb-3">
          <img src="https://via.placeholder.com/255x230" class="img-fluid" alt="Responsive image">
          <div class="bold mt-2">Conryd Salveson</div><div class="icon_linkedinDark"></div>
          <div class="author weirdposition">Associate</div>
        </div>
        <div class="col-xl-3 col-md-6 col-9 mb-3">
          <img src="https://via.placeholder.com/255x230" class="img-fluid" alt="Responsive image">
          <div class="bold mt-2">Brian Nelson</div><div class="icon_linkedinDark"></div>
          <div class="author weirdposition">Business Dev</div>
        </div>
      </div>
    </div>
    <div class="col-10 mt-5">
      <div class="row justify-content-center">
        <div class="col-xl-3 col-md-6 col-9 mb-3">
          <img src="https://via.placeholder.com/255x230" class="img-fluid" alt="Responsive image">
          <div class="bold mt-2">Donald Willson</div><div class="icon_linkedinDark"></div>
          <div class="author weirdposition">Business Dev</div>
        </div>
        <div class="col-xl-3 col-md-6 col-9 mb-3">
          <img src="https://via.placeholder.com/255x230" class="img-fluid" alt="Responsive image">
          <div class="bold mt-2">You?</div><div class="icon_linkedinDark"></div>
          <div class="author weirdposition">Check our openings</div>
        </div>
        <div class="col-xl-3 col-md-6 col-9 mb-3">
        </div>
        <div class="col-xl-3 col-md-6 col-9 mb-3">
        </div>
      </div>
    </div>
  </div>
</div>
