---
layout: home
title: About us - ProvenCFO
tagline: ProvenCFO ensures your accounting and information systems are working for you.
---
{% include JB/setup %}
{% include JB/tags_list %}

<div class="home" itemscope itemtype="http://schema.org/LocalBusiness">
  <div class="header2 noselect">
      <div class="header_text3">
        <div class="container">
          <div class="col-sm-12 nopadding">
            <div class="uppercase"><h6 class="dash featuretag text-center"><span itemprop="name">About Us</h6></div>
            <div class="" style="margin-top:10px; margin-bottom:45px;"><h1 class="dash featuretitle feature2 text-center" itemprop="description">We are ProvenCFO</h1></div>
          </div>
        </div>
      </div>
  </div>
  <div class="header2_nav noselect">
    <div class="container navbar navbar-default" role="navigation" style="background-color:transparent;border:none;">
      <div class="dropdown visible-xs" style="text-align:left;">
        <a href="#" class="dropdown-toggle toggle2" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Mission <span class="glyphicon glyphicon-chevron-down" style="font-size:12px; color: rgba(250,250,250,1);"></span></a>
        <div class="header2_nav noselect dropdown-menu dropdown-menu2">
          <div class="container navbar navbar-default" role="navigation" style="background-color:transparent;border:none;">
            <div class="col-sm-12 nopadding">
              <ul class="">
                <li role="presentation" class="menu_list">
                  <a href="values.html" aria-controls="value" role="tab">Our Values</a>
                </li>
                <!-- <li role="presentation" class="menu_list">
                  <a href="press.html" aria-controls="press" role="tab">Press</a>
                </li> -->
                <li role="presentation" class="menu_list">
                  <a href="careers.html" aria-controls="careers" role="tab">Careers</a>
                </li>
                <li role="presentation" class="menu_list">
                  <a href="contact.html" aria-controls="contactus" role="tab">Contact Us</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 nopadding">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav nav-tabs nav-tabs-sticky" id="myTab">
            <li role="presentation" class="active   menu_list">
              <a href="#" aria-controls="mission" role="tab">Our Mission</a>
            </li>
            <li role="presentation" class=" menu_list">
              <a href="values.html" aria-controls="value" role="tab">Our Values</a>
            </li>
            <!-- <li role="presentation" class=" menu_list">
              <a href="press.html" aria-controls="press" role="tab">Press</a>
            </li> -->
            <li role="presentation" class=" menu_list">
              <a href="careers.html" aria-controls="careers" role="tab">Careers</a>
            </li>
            <li role="presentation" class=" menu_list">
              <a href="contact.html" aria-controls="contactus" role="tab">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="mission">
      <div class="feature_style_1 noselect">
        <div class="container nopadding">
          <div class="col-md-10 col-md-offset-1"><h3 class="">We create efficient, cost-effective, &amp; transparent ecosystems.</h3></div>
          <div class="clearfix"></div>
          <div class="spacer small"></div>
          <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
            <h6 class="">We're committed to providing the best accounting systems and financial solutions through technology, tranparency, and teamwork. We ensure our partners are always up to speed on their businesses.</h6>
          </div>
          <div class="clearfix" style="margin-bottom:0px;"></div>
        </div>
      </div>
      <div class="feature_style_1 noselect" style="background-color:rgba(249,249,249,1);margin-top:40px;" >
        <div class="container nopadding">
          <div class="col-md-8 col-md-offset-2" style="margin-top:80px;"><h3 class="">Team</h3></div>
          <div class="clearfix"></div>
          <div class="spacer small"></div>

          <div class="clearfix" style="margin-bottom:50px;"></div>
          <div class="container nopadding">
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="col-lg-4 col-md-5 col-sm-4 col-xs-12 nopadding">
                <div class="featureBox3 circle jon" style="background-image: url('/assets/images/jon_willson.jpg')">
                </div>
              </div>
              <div class="col-lg-8 col-md-7 col-sm-8 col-xs-12 nopadding">
                <div class="featureBox4">
                  <h4>Jon Willson, MBA</h4>
                  <h6>Partner</h6>
                  <div class="spacer small gray" style="margin:20px 0;"></div>
                  <p>17 years finance, banking, real estate, entrepreneurship, CEO, and advisory experience. Bachelor of Commerce from University of South Africa, and Masters of Business Administration from University of Texas at Dallas.</p>
                  <div class="social_icons centered">
                    <a href="https://www.linkedin.com/in/jonathanwillson" target="_blank"><div class="social_icon linkedin"></div></a>
                    <a href="mailto:jon@provencfo.com"><div class="social_icon email"></div></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="col-lg-4 col-md-5 col-sm-4 col-xs-12 nopadding">
                <div class="featureBox3 circle dave" style="background-image: url('/assets/images/dave_willson.jpg')">
                </div>
              </div>
              <div class="col-lg-8 col-md-7 col-sm-8 col-xs-12 nopadding">
                <div class="featureBox4">
                  <h4>Dave Willson, CMA</h4>
                  <h6>Partner</h6>
                  <div class="spacer small gray" style="margin:20px 0;"></div>
                  <p>16 years accounting, finance, entrepreneurship, CFO, and advisory experience. Bachelors in Accounting from University of Utah, and MS in Accounting &amp; Information Management from University of Texas at Dallas.</p>
                  <div class="social_icons centered">
                    <a href="https://www.linkedin.com/in/davidawillson" target="_blank"><div class="social_icon linkedin"></div></a>
                    <a href="mailto:dave@provencfo.com"><div class="social_icon email"></div></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="col-lg-4 col-md-5 col-sm-4 col-xs-12 nopadding">
                <div class="featureBox3 circle dave" style="background-image: url('/assets/images/jason.jpg')">
                </div>
              </div>
              <div class="col-lg-8 col-md-7 col-sm-8 col-xs-12 nopadding">
                <div class="featureBox4">
                  <h4>Jason Blickenstaff, CPA</h4>
                  <h6>Partner</h6>
                  <div class="spacer small gray" style="margin:20px 0;"></div>
                  <p>13 years accounting, business development, acquisitions, and advisory experience. Bachelors in Accounting and MS in Accounting from Brigham Young University.</p>
                  <div class="social_icons centered">
                    <a href="https://www.linkedin.com/in/jason-blickenstaff-cpa-7204408/" target="_blank"><div class="social_icon linkedin"></div></a>
                    <a href="mailto:jason@provencfo.com"><div class="social_icon email"></div></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="col-lg-4 col-md-5 col-sm-4 col-xs-12 nopadding">
                <div class="featureBox3 circle dave" style="background-image: url('/assets/images/sam.png')">
                </div>
              </div>
              <div class="col-lg-8 col-md-7 col-sm-8 col-xs-12 nopadding">
                <div class="featureBox4">
                  <h4>Sam Willson</h4>
                  <h6>Partner</h6>
                  <div class="spacer small gray" style="margin:20px 0;"></div>
                  <p>13 years finance, banking, real estate, entrepreneurship, CEO, and management experience. Industry innovator; identifying & creating solutions for opportunities.</p>
                  <div class="social_icons centered">
                    <a href="https://www.linkedin.com/in/sam-willson-9602a1150/" target="_blank"><div class="social_icon linkedin"></div></a>
                    <a href="mailto:sam@provencfo.com"><div class="social_icon email"></div></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="col-lg-4 col-md-5 col-sm-4 col-xs-12 nopadding">
                <div class="featureBox3 circle dave" style="background-image: url('/assets/images/kami-square.jpg')">
                </div>
              </div>
              <div class="col-lg-8 col-md-7 col-sm-8 col-xs-12 nopadding">
                <div class="featureBox4">
                  <h4>Kami Ball, CPA</h4>
                  <h6>Partner</h6>
                  <div class="spacer small gray" style="margin:20px 0;"></div>
                  <p>18 years accounting, tax, and education experience. Bachelors in Accounting from Utah State University, and MS in Taxation from University of Washington.</p>
                  <div class="social_icons centered">
                    <a href="https://www.linkedin.com/in/kami-ball-0a016732/" target="_blank"><div class="social_icon linkedin"></div></a>
                    <a href="mailto:kami@provencfo.com"><div class="social_icon email"></div></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="col-lg-4 col-md-5 col-sm-4 col-xs-12 nopadding">
                <div class="featureBox3 circle dave" style="background-image: url('/assets/images/dlee.jpg')">
                </div>
              </div>
              <div class="col-lg-8 col-md-7 col-sm-8 col-xs-12 nopadding">
                <div class="featureBox4">
                  <h4>David Lee, CPA</h4>
                  <h6>Partner</h6>
                  <div class="spacer small gray" style="margin:20px 0;"></div>
                  <p>14 years accounting, audit, bookkeeping, analysis, and financial reporting experience. Bachelors in Accounting from Portland State University - School of Business.</p>
                  <div class="social_icons centered">
                    <a href="https://www.linkedin.com/in/david-b-lee/" target="_blank"><div class="social_icon linkedin"></div></a>
                    <a href="mailto:dlee@provencfo.com"><div class="social_icon email"></div></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="col-lg-4 col-md-5 col-sm-4 col-xs-12 nopadding">
                <div class="featureBox3 circle dave" style="background-image: url('/assets/images/brennan.jpg')">
                </div>
              </div>
              <div class="col-lg-8 col-md-7 col-sm-8 col-xs-12 nopadding">
                <div class="featureBox4">
                  <h4>Brennan Roney</h4>
                  <h6>Partner</h6>
                  <div class="spacer small gray" style="margin:20px 0;"></div>
                  <p>9 years cost accounting, General Ledger accounting, project accounting, and management experience. Bachelors in Accounting from Utah Valley University.</p>
                  <div class="social_icons centered">
                    <a href="https://www.linkedin.com/in/brennan-roney-7755895a/" target="_blank"><div class="social_icon linkedin"></div></a>
                    <a href="mailto:brennan@provencfo.com"><div class="social_icon email"></div></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="col-lg-4 col-md-5 col-sm-4 col-xs-12 nopadding">
                <div class="featureBox3 circle dave" style="background-image: url('/assets/images/cheesman.jpg')">
                </div>
              </div>
              <div class="col-lg-8 col-md-7 col-sm-8 col-xs-12 nopadding">
                <div class="featureBox4">
                  <h4>Jake Cheesman</h4>
                  <h6>Senior Associate</h6>
                  <div class="spacer small gray" style="margin:20px 0;"></div>
                  <p>8 years financial planning, business analysis, compliance, bookkeeping, and accounting. Bachelors in Personal Financial Planning from Utah Valley University.</p>
                  <div class="social_icons centered">
                    <a href="https://www.linkedin.com/in/jacobcheesman/" target="_blank"><div class="social_icon linkedin"></div></a>
                    <a href="mailto:jake@provencfo.com"><div class="social_icon email"></div></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="col-lg-4 col-md-5 col-sm-4 col-xs-12 nopadding">
                <div class="featureBox3 circle dave" style="background-image: url('/assets/images/kc.jpg')">
                </div>
              </div>
              <div class="col-lg-8 col-md-7 col-sm-8 col-xs-12 nopadding">
                <div class="featureBox4">
                  <h4>KC Franson</h4>
                  <h6>Associate</h6>
                  <div class="spacer small gray" style="margin:20px 0;"></div>
                  <p>2 years financial services, manufacturing, and project management. Pursuing Bachelors in Business Management from Western Governors University.</p>
                  <div class="social_icons centered">
                    <a href="https://www.linkedin.com/in/kevin-kc-franson-577734107/" target="_blank"><div class="social_icon linkedin"></div></a>
                    <a href="mailto:kc@provencfo.com"><div class="social_icon email"></div></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="col-lg-4 col-md-5 col-sm-4 col-xs-12 nopadding">
                <div class="featureBox3 circle dave" style="background-image: url('/assets/images/adam.jpg')">
                </div>
              </div>
              <div class="col-lg-8 col-md-7 col-sm-8 col-xs-12 nopadding">
                <div class="featureBox4">
                  <h4>Adam Lewis</h4>
                  <h6>Associate</h6>
                  <div class="spacer small gray" style="margin:20px 0;"></div>
                  <p>1 year accounting. Bachelors in Experience Design and Management from Brigham Young University. Pursuing Masters in Business Administration from UVU.</p>
                  <div class="social_icons centered">
                    <a href="https://www.linkedin.com/in/adam-lewis-299167b4/" target="_blank"><div class="social_icon linkedin"></div></a>
                    <a href="mailto:adam@provencfo.com"><div class="social_icon email"></div></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="col-lg-4 col-md-5 col-sm-4 col-xs-12 nopadding">
                <div class="featureBox3 circle dave" style="background-image: url('/assets/images/Conryd.png')">
                </div>
              </div>
              <div class="col-lg-8 col-md-7 col-sm-8 col-xs-12 nopadding">
                <div class="featureBox4">
                  <h4>Conryd Salvesen</h4>
                  <h6>Associate</h6>
                  <div class="spacer small gray" style="margin:20px 0;"></div>
                  <p>6 years in business management, metrics analysis, sales and marketing. Bachelors in Exercise Science from Brigham Young University.</p>
                  <div class="social_icons centered">
                    <a href="https://www.linkedin.com/in/adam-lewis-299167b4/" target="_blank"><div class="social_icon linkedin"></div></a>
                    <a href="mailto:adam@provencfo.com"><div class="social_icon email"></div></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="col-lg-4 col-md-5 col-sm-4 col-xs-12 nopadding">
                <div class="featureBox3 circle dave" style="background-image: url('/assets/images/brian2.png')">
                </div>
              </div>
              <div class="col-lg-8 col-md-7 col-sm-8 col-xs-12 nopadding">
                <div class="featureBox4">
                  <h4>Brian Nelson</h4>
                  <h6>Business Development Officer</h6>
                  <div class="spacer small gray" style="margin:20px 0;"></div>
                  <p>37 years in management and education. Bachelors in Business Management from University of Montanta. Masters Degree in Educational Administration from WSU.</p>
                  <div class="social_icons centered">
                    <a href="https://www.linkedin.com/in/brian-nelson-69b79239/" target="_blank"><div class="social_icon linkedin"></div></a>
                    <a href="mailto:brian@provencfo.com"><div class="social_icon email"></div></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="col-lg-4 col-md-5 col-sm-4 col-xs-12 nopadding">
                <div class="featureBox3 circle dave" style="background-image: url('/assets/images/sarah.jpg')">
                </div>
              </div>
              <div class="col-lg-8 col-md-7 col-sm-8 col-xs-12 nopadding">
                <div class="featureBox4">
                  <h4>Sarah Willson</h4>
                  <h6>Process Management</h6>
                  <div class="spacer small gray" style="margin:20px 0;"></div>
                  <p>6 years in project management, process management, and interior Design. Associate of Science in Interior Design from LDS Business College.</p>
                  <div class="social_icons centered">
                    <a href="https://www.linkedin.com/in/sarahlwillson/" target="_blank"><div class="social_icon linkedin"></div></a>
                    <a href="mailto:sarah@provencfo.com"><div class="social_icon email"></div></a>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="feature_style_1 noselect" style="margin-top:40px;padding-bottom:90px;margin-bottom:-90px;" >
        <div class="container nopadding">
          <div class="col-md-8 col-md-offset-2" style="margin-top:50px;"><h3 class="">Join Us</h3></div>
          <div class="clearfix"></div>
          <div class="spacer small"></div>
          <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
            <h6 class="">We’re transforming Small to Medium-sized Businesses by implementing amazing solutions.</h6>

          </div>
          <div class="clearfix"></div>
          <div class="col-sm-12"  style="margin-top:50px">
            <div class="featureBox3 boardroom1" style="background-image: url('/assets/images/business-chairs-company-7070.png')"></div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="featureBox3 boardroom3" style="background-image: url('/assets/images/rawpixel-649916-unsplash.png')"></div>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="featureBox3 boardroom2" style="background-image: url('/assets/images/carlos-muza-84523-unsplash.png')"></div>
          </div>
          <div class="col-md-4 hidden-sm col-xs-12">
            <div class="featureBox3 boardroom4" style="background-image: url('/assets/images/ruthson-zimmerman-233522-unsplash.png')"></div>
          </div>
          </div class="clearfix"></div>
          <a href="careers.html">
            <div style="margin-top:10px;margin-bottom:70px;" class="centered">
              <button class="btn btn-primary btn-large centered" style="display:inherit;position:relative;">JOIN OUR TEAM</button>
            </div>
          </a>
      </div>
    </div>
    <div class="feature_style_1 noselect" style="margin-top:40px;padding-bottom:0px;margin-bottom:-90px;" >

        </div>
      </div>
    </div>
  </div>
</div>
