---
layout: home
title: Services
tagline: ProvenCFO is your trusted financial business partner
header_image:   accounting.jpg
---
{% include JB/setup %}
{% include JB/tags_list %}

<div class="home" itemscope itemtype="http://schema.org/LocalBusiness">
  <div class="header3 noselect">
    <div class="header_image_3" style="background-image:url('/assets/images/{{page.header_image}}');" >
      <div class="header_text4">
        <div class="container">
          <div class="col-sm-12 nopadding">
            <div class="uppercase"><h6 class="dash featuretag text-center"><span itemprop="name">Services</h6></div>
            <div class="lightbackground" style="margin-top:10px; margin-bottom:45px;"><h1 class="dash featuretitle text-center" itemprop="description">Financial Accounting</h1></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="feature_style_1 noselect">
    <div class="container nopadding">
      <div class="col-md-8 col-md-offset-2"><h3 class="">Relevant &amp; Reliable Statements</h3></div>
      <div class="clearfix"></div>
      <div class="spacer small"></div>
      <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
        <h6 class="">Correct accounting produces comparable financial statements. Without comparative data decisions are made in a vacuum.</h6>
      </div>
      <div class="clearfix"></div>
        <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-0 featureBox featureBoxHeight">
          <div class="prettyBox">
            <div class="dash_icon_accountspay"></div>
          </div>
          <h4>Accounts Payable</h4>
          <p>Need a partial or fully outsourced accounts payable department? We'll create a secure approval process ensuring access to your funds are safe and bills are paid on time.</p>
        </div>
        <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-0 featureBox featureBoxHeight">
          <div class="prettyBox">
            <div class="dash_icon_accountsrec"></div>
          </div>
          <h4>Accounts Receivable</h4>
          <p>We can handle 24hr turn times or set up a subscription model to ensure your customers are invoiced in a timely fashion. We can also bring collection specialists to the table if needed.</p>
        </div>
        <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-0 featureBox featureBoxHeight">
          <div class="prettyBox">
            <div class="dash_icon_jobcosting"></div>
          </div>
          <h4>Job Costing</h4>
          <p>When your service is more complicated and you need financial separation for each job - we'll ensure you have timely, accurate reports on each project. </p>
        </div>
        <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-0 featureBox featureBoxHeight">
          <div class="prettyBox">
            <div class="dash_icon_assetman"></div>
          </div>
          <h4>Asset Management</h4>
          <p>Appropriate deprection schedule selection, fixed asset or Goodwill impairment, and depreciation recapture from sale of assets are all necessary in a growing business.</p>
        </div>
        <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-0 featureBox featureBoxHeight">
          <div class="prettyBox">
            <div class="dash_icon_accrual"></div>
          </div>
          <h4>Accrual Accounting</h4>
          <p>We'll take care of all accruals and deferrals of revenues and expenses and any other necessary month-end adjusting journals to provide you GAAP financials.</p>
        </div>
        <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-0 featureBox  featureBoxHeight">
          <div class="prettyBox">
            <div class="dash_icon_financial"></div>
          </div>
          <h4>Financial Statements</h4>
          <p>We prepare the Income Statement, Balance Sheet, Cash Flow Statement, Aged Receivables, Aged Payables and provide you a ProvenCFO Monthly write up highlighting the important pieces.</p>
        </div>
        <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0 featureBox  featureBoxHeight">
          <div class="prettyBox">
            <div class="dash_icon_internalcontrol"></div>
          </div>
          <h4>Internal Controls</h4>
          <p>Reconciliation of NonFinancial Accounts, policy and standards creation and documentation, and implementation of segregation of duties are all part of creating an appropriate control environment.</p>
        </div>

<!--
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_successfee"></div>
        </div>
        <h4>Corporate Debt Structure</h4>
        <p>Whether you need to obtain debt or restructure existing debt, we can guide the transactions to successful close.</p>
      </div>
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_successfee"></div>
        </div>
        <h4>Budgets &amp; Forecasting</h4>
        <p>Whether you need to obtain debt or restructure existing debt, we can guide the transactions to successful close.</p>
      </div>
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_successfee"></div>
        </div>
        <h4>SME M&amp;A</h4>
        <p>Whether you need to obtain debt or restructure existing debt, we can guide the transactions to successful close.</p>
      </div>
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_successfee"></div>
        </div>
        <h4>Information Systems</h4>
        <p>Whether you need to obtain debt or restructure existing debt, we can guide the transactions to successful close.</p>
      </div>
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_successfee"></div>
        </div>
        <h4>Product/Service Costing</h4>
        <p>Whether you need to obtain debt or restructure existing debt, we can guide the transactions to successful close.</p>
      </div>
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_successfee"></div>
        </div>
        <h4>Financial Statement Analysis</h4>
        <p>Whether you need to obtain debt or restructure existing debt, we can guide the transactions to successful close.</p>
      </div>
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_successfee"></div>
        </div>
        <h4>Business Succession Planning</h4>
        <p>Whether you need to obtain debt or restructure existing debt, we can guide the transactions to successful close.</p>
      </div>
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_successfee"></div>
        </div>
        <h4>Proforma Financials</h4>
        <p>Whether you need to obtain debt or restructure existing debt, we can guide the transactions to successful close.</p>
      </div>
      <div class="col-lg-4 col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3 col-xs-offset-0 col-lg-offset-0 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_successfee"></div>
        </div>
        <h4>Training &amp; Education</h4>
        <p>Whether you need to obtain debt or restructure existing debt, we can guide the transactions to successful close.</p>
      </div>
    -->
    </div>
  </div>




  <div class="feature_style_1 noselect">
    <div class="container nopadding">
      <div class="col-md-8 col-md-offset-2 nopadding"><div class="dash_icon_handshake"></div></div>
      <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
        <h3 class="text-center">Work hand-in-hand with small business professionals</h3>
        <a href="contact.html"><div style="margin-top:40px;" class="centered"><button class="btn btn-primary btn-large centered" style="display:inherit;position:relative;">GET STARTED</button></div></a>
      </div>
    </div>
  </div>
</div>
