---
layout: home
title: Services
tagline: ProvenCFO is your trusted financial business partner
header_image:   calculator.jpg
---
{% include JB/setup %}
{% include JB/tags_list %}

<div class="home" itemscope itemtype="http://schema.org/LocalBusiness">
  <div class="header3 noselect">
    <div class="header_image_3" style="background-image:url('/assets/images/{{page.header_image}}');" >
      <div class="header_text4">
        <div class="container">
          <div class="col-sm-12 nopadding">
            <div class="uppercase"><h6 class="dash featuretag text-center"><span itemprop="name">Services</h6></div>
            <div class="lightbackground" style="margin-top:10px; margin-bottom:45px;"><h1 class="dash featuretitle text-center" itemprop="description">Bookkeeping</h1></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="feature_style_1 noselect">
    <div class="container nopadding">
      <div class="col-md-8 col-md-offset-2"><h3 class="">Accurate Record Keeping</h3></div>
      <div class="clearfix"></div>
      <div class="spacer small"></div>
      <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
        <h6 class="">The creation of accurate financial statements relies on meticulous attention to detail through bookkeeping.</h6>
      </div>
      <div class="clearfix"></div>
        <div class="col-lg-4 col-sm-6 featureBox featureBoxHeight">
          <div class="prettyBox">
            <div class="dash_icon_reconciliation"></div>
          </div>
          <h4>Bank Reconciliations</h4>
          <p>Ensure that all invoices, bills, credit card, and bank transactions have been booked into the correct period via a financial reconciliation. We don't miss a penny.</p>
        </div>
        <div class="col-lg-4 col-sm-6 featureBox featureBoxHeight">
          <div class="prettyBox">
            <div class="dash_icon_payroll"></div>
          </div>
          <h4>Payroll</h4>
          <p>We get your employees paid via direct deposit, provide them online access to paystubs and tax reports. We'll make sure all appropriate payroll taxes are filed through our service provider.</p>
        </div>
        <div class="col-lg-4 col-sm-6 featureBox featureBoxHeight">
          <div class="prettyBox">
            <div class="dash_icon_paperless"></div>
          </div>
          <h4>Paperless Office</h4>
          <p>Paper overload is unnecessary in this era. We make sure your documents are being scanned and organized. Never worry about retaining 3 - 7 years worth of paper boxes ever again.</p>
        </div>
        <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-0 featureBox featureBoxHeight">
          <div class="prettyBox">
            <div class="dash_icon_expenseclaim"></div>
          </div>
          <h4>Employee Expense Claims</h4>
          <p>Need to reimburse your employees for miles, or business expenses on personal cards. Give them access to submit claims, approve them, and we will take care of paying them via their payroll direct deposit.</p>
        </div>








<!--
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_successfee"></div>
        </div>
        <h4>Corporate Debt Structure</h4>
        <p>Whether you need to obtain debt or restructure existing debt, we can guide the transactions to successful close.</p>
      </div>
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_successfee"></div>
        </div>
        <h4>Budgets &amp; Forecasting</h4>
        <p>Whether you need to obtain debt or restructure existing debt, we can guide the transactions to successful close.</p>
      </div>
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_successfee"></div>
        </div>
        <h4>SME M&amp;A</h4>
        <p>Whether you need to obtain debt or restructure existing debt, we can guide the transactions to successful close.</p>
      </div>
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_successfee"></div>
        </div>
        <h4>Information Systems</h4>
        <p>Whether you need to obtain debt or restructure existing debt, we can guide the transactions to successful close.</p>
      </div>
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_successfee"></div>
        </div>
        <h4>Product/Service Costing</h4>
        <p>Whether you need to obtain debt or restructure existing debt, we can guide the transactions to successful close.</p>
      </div>
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_successfee"></div>
        </div>
        <h4>Financial Statement Analysis</h4>
        <p>Whether you need to obtain debt or restructure existing debt, we can guide the transactions to successful close.</p>
      </div>
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_successfee"></div>
        </div>
        <h4>Business Succession Planning</h4>
        <p>Whether you need to obtain debt or restructure existing debt, we can guide the transactions to successful close.</p>
      </div>
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_successfee"></div>
        </div>
        <h4>Proforma Financials</h4>
        <p>Whether you need to obtain debt or restructure existing debt, we can guide the transactions to successful close.</p>
      </div>
      <div class="col-lg-4 col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3 col-xs-offset-0 col-lg-offset-0 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_successfee"></div>
        </div>
        <h4>Training &amp; Education</h4>
        <p>Whether you need to obtain debt or restructure existing debt, we can guide the transactions to successful close.</p>
      </div>
    -->
    </div>
  </div>




  <div class="feature_style_1 noselect">
    <div class="container nopadding">
      <div class="col-md-8 col-md-offset-2 nopadding"><div class="dash_icon_handshake"></div></div>
      <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
        <h3 class="text-center">Work hand-in-hand with small business professionals</h3>
        <a href="contact.html"><div style="margin-top:40px;" class="centered"><button class="btn btn-primary btn-large centered" style="display:inherit;position:relative;">GET STARTED</button></div></a>
      </div>
    </div>
  </div>
</div>
