---
layout: home
title: Enjoy what you do
tagline: Rockfund connects you with powerful commercial real estate lenders
---
{% include JB/setup %}
{% include JB/tags_list %}

<div class="home" itemscope itemtype="http://schema.org/LocalBusiness">
  <div class="header2 noselect">
      <div class="header_text3">
        <div class="container">
          <div class="col-sm-12 nopadding">
            <div class="uppercase"><h6 class="dash featuretag text-center"><span itemprop="name">About Us</h6></div>
            <div class="" style="margin-top:10px; margin-bottom:45px;"><h1 class="dash featuretitle feature2 text-center" itemprop="description">We are ProvenCFO</h1></div>
          </div>
        </div>
      </div>
  </div>
  <div class="header2_nav noselect">
    <div class="container navbar navbar-default" role="navigation" style="background-color:transparent;border:none;">
      <div class="dropdown visible-xs" style="text-align:left;">
        <a href="#" class="dropdown-toggle toggle2  " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Careers <span class="glyphicon glyphicon-chevron-down" style="font-size:12px; color: rgba(250,250,250,1);"></span></a>
        <div class="header2_nav noselect dropdown-menu dropdown-menu2">
          <div class="container navbar navbar-default" role="navigation" style="background-color:transparent;border:none;">
            <div class="col-sm-12 nopadding">
              <ul class="">
                <li role="presentation" class="  menu_list">
                  <a href="about.html" aria-controls="mission" role="tab">Our Mission</a>
                </li>
                <li role="presentation" class="  menu_list">
                  <a href="values.html" aria-controls="values" role="tab">Our Values</a>
                </li>
                <!-- <li role="presentation" class="  menu_list">
                  <a href="press.html" aria-controls="press" role="tab">Press</a>
                </li> -->
                <li role="presentation" class="  menu_list">
                  <a href="contact.html" aria-controls="contactus" role="tab">Contact Us</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 nopadding">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav nav-tabs nav-tabs-sticky" id="myTab">
            <li role="presentation" class="  menu_list">
              <a href="about.html" aria-controls="mission" role="tab">Our Mission</a>
            </li>
            <li role="presentation" class="  menu_list">
              <a href="values.html" aria-controls="value" role="tab">Our Values</a>
            </li>
            <!-- <li role="presentation" class="  menu_list">
              <a href="press.html" aria-controls="press" role="tab">Press</a>
            </li> -->
            <li role="presentation" class="active   menu_list">
              <a href="#" aria-controls="careers" role="tab">Careers</a>
            </li>
            <li role="presentation" class="  menu_list">
              <a href="contact.html" aria-controls="contactus" role="tab">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="mission">
      <div class="feature_style_1 noselect">
        <div class="container nopadding">
          <div class="col-md-8 col-md-offset-2"><h3 class="">Enjoy what you do</h3></div>
          <div class="clearfix"></div>
          <div class="spacer small"></div>
          <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
            <h6 class="">We’re looking for great folks to join us in our mission.</h6>
          </div>
          <div class="clearfix" style="margin-bottom:50px;"></div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="featureBox3 boardroom9" style="border:none; background-image: url('/assets/images/adult-blur-boss-288477.png')"></div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="featureBox3 boardroom10" style="border:none; background-image: url('/assets/images/adult-beautiful-caucasian-914931.png')"></div>
          </div>
          <div class="col-md-3 hidden-sm col-xs-12">
            <div class="featureBox3 boardroom11" style="border:none; background-image: url('/assets/images/adult-agent-blur-684385.png')"></div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="feature_style_1 noselect" style="background-color:rgba(249,249,249,1);">
        <div class="container nopadding">
          <div class="col-md-8 col-md-offset-2" style="margin-top:82px;"><h3 class="">Benefits</h3></div>
          <div class="clearfix"></div>
          <div class="spacer small"></div>
          <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0" style="margin-bottom:40px;">
            <h6 class="">Some of the reasons you’ll love working at ProvenCFO</h6>
          </div>

          <div class="col-lg-4 col-sm-6 col-xs-12 featureBox7">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 nopadding">
              <div class="featureBox5 circle">
                <div class="dash_icon_greatpeople"></div>
              </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 nopadding">
              <div class="featureBox7">
                <h4>Great people</h4>
                <p>Working with great people is key to building a successful company. We’re firm believers in hiring and retaining the very best.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6 col-xs-12 featureBox7">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 nopadding">
              <div class="featureBox5 circle">
                <div class="dash_icon_snacks"></div>
              </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 nopadding">
              <div class="featureBox7">
                <h4>Great benefits</h4>
                <p>Delicious snacks to fuel your productivity. We'll help you save for retirement and make sure you take time off for fun.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-sm-6 col-xs-12 featureBox7">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 nopadding">
              <div class="featureBox5 circle">
                <div class="dash_icon_compensation"></div>
              </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 nopadding">
              <div class="featureBox7">
                <h4>Compensation</h4>
                <p>Work smart. Get paid well. ProveCFO is a merit-ocracy. We believe that great contributors deserve to be paid well.</p>
              </div>
            </div>
          </div>





        </div>
      </div>
      <div class="feature_style_1 noselect" style="margin-top:40px;" >
        <div class="container nopadding">
          <div class="col-md-8 col-md-offset-2" style="margin-top:50px;"><h3 class="">Current Openings</h3></div>
          <div class="clearfix"></div>
          <div class="spacer small"></div>
          <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0" style="margin-top:40px;">
            <!--<div class="featureBox5 light short">
              <p>Senior Accountant</p>
            </div>-->
            <div class="featureBox5 light short">
              <p><a href="https://provencfo.workable.com/jobs/981326" target="_blank">Office Assistant</a></p>
            </div>
            <a href="contact.html">
              <div style="margin-top:40px;" class="centered">
                  <button class="btn btn-primary btn-large centered" style="display:inherit;position:relative;">CONTACT US</button>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="value">value</div>
    <div role="tabpanel" class="tab-pane" id="press">press</div>
    <div role="tabpanel" class="tab-pane" id="careers">careers</div>
    <div role="tabpanel" class="tab-pane" id="contactus">contactus</div>
  </div>
</div>
