---
layout: home
title: Services
tagline: ProvenCFO is your trusted financial business partner
header_image:   financial_structure.jpg
---
{% include JB/setup %}
{% include JB/tags_list %}

<div class="home" itemscope itemtype="http://schema.org/LocalBusiness">
  <div class="header3 noselect">
    <div class="header_image_3" style="background-image:url('/assets/images/{{page.header_image}}');" >
      <div class="header_text4">
        <div class="container">
          <div class="col-sm-12 nopadding">
            <div class="uppercase"><h6 class="dash featuretag text-center"><span itemprop="name">Services</h6></div>
            <div class="lightbackground" style="margin-top:10px; margin-bottom:45px;"><h1 class="dash featuretitle text-center" itemprop="description">Financial Structure</h1></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="feature_style_1 noselect">
    <div class="container nopadding">
      <div class="col-md-8 col-md-offset-2"><h3 class="">Finance &amp; Capital</h3></div>
      <div class="clearfix"></div>
      <div class="spacer small"></div>
      <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
        <h6 class="">Failing to make sure you're capital structure is correct can break your company. Ensure your balance sheet makes sense with us.</h6>
      </div>
      <div class="clearfix"></div>
      <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-0 featureBox featureBoxHeight">
        <div class="prettyBox">
          <div class="dash_icon_debtrestruct"></div>
        </div>
        <h4>Debt Restructure</h4>
        <p>Procuring the right lender is just as important as making sure the debt terms and conditions are favorable. Don't be caught with above market rates ever again.</p>
      </div>
      <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-0 featureBox featureBoxHeight">
        <div class="prettyBox">
          <div class="dash_icon_lenderrel"></div>
        </div>
        <h4>Lender Relationships</h4>
        <p>When a lender is involved in your business you want someone they can talk to whenever they need. Feel confident giving them our number to discuss your business health.</p>
      </div>
      <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-0 featureBox featureBoxHeight">
        <div class="prettyBox">
          <div class="dash_icon_capitalraise"></div>
        </div>
        <h4>Capital Raise</h4>
        <p>Source the right capital partners. We'll exhaust our network before we help you present your business to institutional capital. Find the right partner to help your business grow.</p>
      </div>
      <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-0 featureBox featureBoxHeight">
        <div class="prettyBox">
          <div class="dash_icon_busbroker"></div>
        </div>
        <h4>Business Brokering</h4>
        <p>When it comes time to part with your business - we'll help you package and sell your business. Work with people you trust through this process.</p>
      </div>

<!--
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_successfee"></div>
        </div>
        <h4>Corporate Debt Structure</h4>
        <p>Whether you need to obtain debt or restructure existing debt, we can guide the transactions to successful close.</p>
      </div>
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_successfee"></div>
        </div>
        <h4>Budgets &amp; Forecasting</h4>
        <p>Whether you need to obtain debt or restructure existing debt, we can guide the transactions to successful close.</p>
      </div>
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_successfee"></div>
        </div>
        <h4>SME M&amp;A</h4>
        <p>Whether you need to obtain debt or restructure existing debt, we can guide the transactions to successful close.</p>
      </div>
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_successfee"></div>
        </div>
        <h4>Information Systems</h4>
        <p>Whether you need to obtain debt or restructure existing debt, we can guide the transactions to successful close.</p>
      </div>
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_successfee"></div>
        </div>
        <h4>Product/Service Costing</h4>
        <p>Whether you need to obtain debt or restructure existing debt, we can guide the transactions to successful close.</p>
      </div>
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_successfee"></div>
        </div>
        <h4>Financial Statement Analysis</h4>
        <p>Whether you need to obtain debt or restructure existing debt, we can guide the transactions to successful close.</p>
      </div>
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_successfee"></div>
        </div>
        <h4>Business Succession Planning</h4>
        <p>Whether you need to obtain debt or restructure existing debt, we can guide the transactions to successful close.</p>
      </div>
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_successfee"></div>
        </div>
        <h4>Proforma Financials</h4>
        <p>Whether you need to obtain debt or restructure existing debt, we can guide the transactions to successful close.</p>
      </div>
      <div class="col-lg-4 col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3 col-xs-offset-0 col-lg-offset-0 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_successfee"></div>
        </div>
        <h4>Training &amp; Education</h4>
        <p>Whether you need to obtain debt or restructure existing debt, we can guide the transactions to successful close.</p>
      </div>
    -->
    </div>
  </div>




  <div class="feature_style_1 noselect">
    <div class="container nopadding">
      <div class="col-md-8 col-md-offset-2 nopadding"><div class="dash_icon_handshake"></div></div>
      <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
        <h3 class="text-center">Work hand-in-hand with small business professionals</h3>
        <a href="contact.html"><div style="margin-top:40px;" class="centered"><button class="btn btn-primary btn-large centered" style="display:inherit;position:relative;">GET STARTED</button></div></a>
      </div>
    </div>
  </div>
</div>
