---
layout: home
title: How we work
tagline: ProvenCFO is your trusted financial business partner
header_image:   lenders_moredeals@2x.jpg
---
{% include JB/setup %}
{% include JB/tags_list %}

<div class="home" itemscope itemtype="http://schema.org/LocalBusiness">
  <div class="header3 noselect">
    <div class="header_image_3" style="background-image:url('/assets/images/{{page.header_image}}');" >
      <div class="header_text4">
        <div class="container">
          <div class="col-sm-12 nopadding">
            <div class="uppercase"><h6 class="dash featuretag text-center"><span itemprop="name">How we work</h6></div>
            <div class="" style="margin-top:10px; margin-bottom:45px;"><h1 class="dash featuretitle text-center" itemprop="description">CFO services without the headache.</h1></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="feature_style_3 noselect nopadding">
    <div class="container nopadding">
      <div>
        <div class="col-lg-5 col-md-4 col-sm-12">
          <div class="col-md-12 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0 nopadding">
            <div class="featureIcon simple"></div>
            <h3>Evaluate your needs</h3>
            <p>As CFO we want to understand your accounting, financial, IT, and operational needs. The more information we have to understand your pain points, the better we can provide the service you need!</p>
            <p class="uppercase"><a href="contact.html">Lets get started <span class="glyphicon glyphicon-chevron-right" style="font-size:11px; width:0.5em; top:0px;"></span></a></p>
          </div>
        </div>
        <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12 nopadding">
          <div class="screenshot evaluate centered">
          </div>
        </div>
      </div>
    </div>
    <div class="container nopadding">
      <div class="">
        <div class="col-lg-7 col-md-8 hidden-sm hidden-xs nopadding">
          <div class="screenshot scope centered">
          </div>
        </div>
        <div class="col-lg-5 col-md-4 col-sm-12">
          <div class="col-md-12 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0 nopadding">
            <div class="featureIcon package"></div>
              <h3>Define scope of engagement</h3>
              <p>After identifying your needs we sit down as a team and plan the work needed for your business and identify the needed components and team participants. We'll evaluate the timeline, expected hours involved, and present a extensive engagement proposal.</p>
              <p class="uppercase"><a href="contact.html">Lets get started <span class="glyphicon glyphicon-chevron-right" style="font-size:11px; width:0.5em; top:0px;"></span></a></p>
          </div>
        </div>
        <div class="hidden-lg hidden-md col-sm-12 col-xs-12 nopadding">
          <div class="screenshot scope centered">
          </div>
        </div>
      </div>
    </div>
    <div class="container nopadding">
      <div class="">
        <div class="col-lg-5 col-md-4 col-sm-12">
          <div class="col-md-12 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0 nopadding">
            <div class="featureIcon review"></div>
              <h3>Awesome Project Management</h3>
              <p>We track all our engagements in a sophisticated project management tool and invite you to track workflows and to-dos. We prioritize goals and set assignable tasks to ensure your financial information is always relevant and reliable.</p>
              <p class="uppercase"><a href="contact.html">Lets get started <span class="glyphicon glyphicon-chevron-right" style="font-size:11px; width:0.5em; top:0px;"></span></a></p>
          </div>
        </div>
        <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12 nopadding">
          <div class="screenshot projectmanagement centered">
          </div>
        </div>
      </div>
    </div>
    <div class="container nopadding">
      <div class="">
        <div class="col-lg-7 col-md-8 hidden-sm hidden-xs nopadding">
          <div class="screenshot nocontract centered">
          </div>
        </div>
        <div class="col-lg-5 col-md-4 col-sm-12">
          <div class="col-md-12 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0 nopadding">
            <div class="featureIcon offer"></div>
              <h3>No Long-Term Contracts</h3>
              <p>We let the quality of our work speak for itself. To ensure you're satisfied with the results, we don't tie you into long-term contracts unlike our competitors.</p>
              <p class="uppercase"><a href="contact.html">Lets get started <span class="glyphicon glyphicon-chevron-right" style="font-size:11px; width:0.5em; top:0px;"></span></a></p>
          </div>
        </div>
        <div class="hidden-lg hidden-md col-sm-12 col-xs-12 nopadding">
          <div class="screenshot nocontract centered">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="feature_style_1 noselect">
    <div class="container nopadding">
      <div class="col-md-8 col-md-offset-2 nopadding"><div class="dash_icon_handshake"></div></div>
      <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
        <h3 class="text-center">Work hand-in-hand with SMB professionals</h3>
        <a href="contact.html"><div style="margin-top:40px;" class="centered"><button class="btn btn-primary btn-large centered" style="display:inherit;position:relative;">GET STARTED</button></div></a>
      </div>
    </div>
  </div>
</div>
