---
layout: home
title: Services
tagline: ProvenCFO is your trusted financial business partner
header_image:   people.jpg
---
{% include JB/setup %}
{% include JB/tags_list %}

<div class="home" itemscope itemtype="http://schema.org/LocalBusiness">
  <div class="header3 noselect">
    <div class="header_image_3" style="background-image:url('/assets/images/{{page.header_image}}');" >
      <div class="header_text4">
        <div class="container">
          <div class="col-sm-12 nopadding">
            <div class="uppercase"><h6 class="dash featuretag text-center"><span itemprop="name">Services</h6></div>
            <div class="lightbackground" style="margin-top:10px; margin-bottom:45px;"><h1 class="dash featuretitle text-center" itemprop="description">Human Capital Solutions</h1></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="feature_style_1 noselect">
    <div class="container nopadding">
      <div class="col-md-8 col-md-offset-2"><h3 class="">Keep your people happy</h3></div>
      <div class="clearfix"></div>
      <div class="spacer small"></div>
      <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
        <h6 class="">People, Product, &amp; Process are the three key ingredients to your business. Focus on a healthy business relationship with all staff.</h6>
      </div>
      <div class="clearfix"></div>
      <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-0 featureBox featureBoxHeight">
        <div class="prettyBox">
          <div class="dash_icon_talent"></div>
        </div>
        <h4>Talent Recruiting &amp; Screening</h4>
        <p>We'll help finding and train great employees into your bookkeeping, financial accounting, finances, process management, and managerial accounting department?</p>
      </div>
      <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-0 featureBox featureBoxHeight">
        <div class="prettyBox">
          <div class="dash_icon_manuals"></div>
        </div>
        <h4>Employee Manuals</h4>
        <p>Need help creating a well-rounded employee manual? Make sure you cover all necessary aspects of the business relationship with your employees. When expectations are clear - goals are achievable.</p>
      </div>
      <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-0 featureBox featureBoxHeight">
        <div class="prettyBox">
          <div class="dash_icon_hrdash"></div>
        </div>
        <h4>HR Dashboard &amp; PTO maintenance</h4>
        <p>Never forget a birthday, food allergy, shirt size, or PTO benefit again. Login to a HR management system for all HR related needs.</p>
      </div>
      <div class="col-lg-4 col-lg-offset-2 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-0 featureBox featureBoxHeight">
        <div class="prettyBox">
          <div class="dash_icon_scheduling"></div>
        </div>
        <h4>Hourly Scheduling &amp; Shift Tracking</h4>
        <p>Your hourly employees will have a GPS time-card system to log their time and ensure you have an access to online scheduler. We'll review for accuracy and import data straight to payroll.</p>
      </div>
      <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0 featureBox featureBoxHeight">
        <div class="prettyBox">
          <div class="dash_icon_customtraining"></div>
        </div>
        <h4>Custom Training &amp; Online Education</h4>
        <p>We'll customized training solutions related to bookkeeping, financial accounting, finances,  process management, and managerial accounting for you and your employees.</p>
      </div>









<!--
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_successfee"></div>
        </div>
        <h4>Corporate Debt Structure</h4>
        <p>Whether you need to obtain debt or restructure existing debt, we can guide the transactions to successful close.</p>
      </div>
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_successfee"></div>
        </div>
        <h4>Budgets &amp; Forecasting</h4>
        <p>Whether you need to obtain debt or restructure existing debt, we can guide the transactions to successful close.</p>
      </div>
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_successfee"></div>
        </div>
        <h4>SME M&amp;A</h4>
        <p>Whether you need to obtain debt or restructure existing debt, we can guide the transactions to successful close.</p>
      </div>
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_successfee"></div>
        </div>
        <h4>Information Systems</h4>
        <p>Whether you need to obtain debt or restructure existing debt, we can guide the transactions to successful close.</p>
      </div>
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_successfee"></div>
        </div>
        <h4>Product/Service Costing</h4>
        <p>Whether you need to obtain debt or restructure existing debt, we can guide the transactions to successful close.</p>
      </div>
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_successfee"></div>
        </div>
        <h4>Financial Statement Analysis</h4>
        <p>Whether you need to obtain debt or restructure existing debt, we can guide the transactions to successful close.</p>
      </div>
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_successfee"></div>
        </div>
        <h4>Business Succession Planning</h4>
        <p>Whether you need to obtain debt or restructure existing debt, we can guide the transactions to successful close.</p>
      </div>
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_successfee"></div>
        </div>
        <h4>Proforma Financials</h4>
        <p>Whether you need to obtain debt or restructure existing debt, we can guide the transactions to successful close.</p>
      </div>
      <div class="col-lg-4 col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3 col-xs-offset-0 col-lg-offset-0 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_successfee"></div>
        </div>
        <h4>Training &amp; Education</h4>
        <p>Whether you need to obtain debt or restructure existing debt, we can guide the transactions to successful close.</p>
      </div>
    -->
    </div>
  </div>




  <div class="feature_style_1 noselect">
    <div class="container nopadding">
      <div class="col-md-8 col-md-offset-2 nopadding"><div class="dash_icon_handshake"></div></div>
      <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
        <h3 class="text-center">Work hand-in-hand with small business professionals</h3>
        <a href="contact.html"><div style="margin-top:40px;" class="centered"><button class="btn btn-primary btn-large centered" style="display:inherit;position:relative;">GET STARTED</button></div></a>
      </div>
    </div>
  </div>
</div>
