---
layout: home
title: ProvenCFO - Trusted Financial Partner
tagline: ProvenCFO ensures your accounting and information systems are working for you.
header_image:   dashboard_header1.png
---
{% include JB/setup %}
{% include JB/tags_list %}

<div class="home" itemscope itemtype="http://schema.org/LocalBusiness">
  <div class="header noselect">
    <div class="header_image_2b">
    <!-- Removed while we wait for actual images -->
    <!--<div class="header_image_2" style="background-image:url('/assets/images/{{ page.header_image }}');" >-->
      <div class="header_text2 noselect">
        <div class="container">
          <div class="col-sm-8 col-md-8 col-md-offset-2 col-lg-offset-2 col-lg-8 col-sm-offset-2 nopadding collapseScreen">
            <div class=""><h1 class="dash featuretitle dark" style="padding-right:10px;"itemprop="description">Your Trusted Financial Business Partner</h1></div>
            <!--<div class=""><h3 class="dash featuretag"><span itemprop="name">ProvenCFO</span> ensures your accounting and financial structure always makes sense.</h3></div>-->
            <!--<div style="margin-top:40px;"><a href="contact.html"><button class="btn btn-primary btn-large">GET STARTED</button></a></div>-->
            <div style="margin-top:20px;"></div>
            <!--<div class="col-lg-6 collapseScreen">
              <h4 class="emphasis text-center">Understand your accounting</h4>
              <h4 class="emphasis text-center">Feel confident in your system</h4>
            </div>-->
          </div>
          <div class="hidden-sm hidden-xs col-md-6 col-lg-7 nopadding">
            <!--<div class="dash_mac">-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header3_nav noselect">
    <div class="container nopadding" role="navigation" style="background-color:transparent;border:none;padding-bottom:14px;">
      <div class="col-md-8 col-md-offset-2"><h4 class="featureBoxh4" style="font-weight:bold !important; font-size: 20px; line-height:22px;">We've created &amp; managed solutions for a variety of industries.</h4></div>
      <div class="dropdown" style="text-align:left;">
            <div class="col-sm-12 nopadding" style="margin-top:5px;">
              <ul class="nopadding" style="margin:0px;">
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 nopadding">
                  <li role="PressManager" class="menu_list outer-center short_bottom">
                    <div class="inner-center">
                      <div class="dash_icon_mixeduse" style="width:34px; float:left; margin-top:2px;"></div>
                    </div>
                  </li>
                  <div class="clearfix"></div>
                  <div class="col-lg-12" style="width:100%;"><h6 class="text-center uppercase">Service</h6></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 nopadding">
                  <li role="PressManager" class="menu_list outer-center short_bottom">
                    <div class="inner-center">
                      <div class="dash_icon_retail" style="width:48px; float:left; margin-top:8px;"></div>
                    </div>
                  </li>
                  <div class="clearfix"></div>
                  <div class="col-lg-12" style="width:100%;"><h6 class="text-center uppercase">Retail</h6></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 nopadding">
                  <li role="PressManager" class="menu_list outer-center short_bottom">
                    <div class="inner-center">
                      <div class="dash_icon_medical" style="width:48px; float:left; margin-top:14px;"></div>
                    </div>
                  </li>
                  <div class="clearfix"></div>
                  <div class="col-lg-12" style="width:100%;"><h6 class="text-center uppercase">Medical</h6></div>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 nopadding">
                  <li role="PressManager" class="menu_list outer-center short_bottom">
                    <div class="inner-center">
                      <div class="dash_icon_industrial" style="width:48px; float:left; margin-top:12px;"></div>
                    </div>
                  </li>
                  <div class="clearfix"></div>
                  <div class="col-lg-12" style="width:100%;"><h6 class="text-center uppercase">Manufacturing</h6></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 nopadding">
                  <li role="PressManager" class="menu_list outer-center short_bottom">
                    <div class="inner-center">
                      <div class="dash_icon_multifamily" style="width:48px; float:left; margin-top:3px;"></div>
                    </div>
                  </li>
                  <div class="clearfix"></div>
                  <div class="col-lg-12" style="width:100%;"><h6 class="text-center uppercase">Real Estate</h6></div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6 nopadding">
                  <li role="PressManager" class="menu_list outer-center short_bottom">
                    <div class="inner-center">
                      <div class="dash_icon_office" style="width:40px; float:left; margin-top:5px;"></div>
                    </div>
                  </li>
                  <div class="clearfix"></div>
                  <div class="col-lg-12" style="width:100%;"><h6 class="text-center uppercase">E-Commerce &amp; More</h6></div>
                </div>

              </ul>
            </div>
      </div>
    </div>
  </div>
  <div class="feature_style_1 noselect">
    <div class="container nopadding">
        <div class="col-md-8 col-md-offset-2"><h3 class="">Reasons to love ProvenCFO.</h3></div>
        <div class="clearfix"></div>
        <div class="spacer small"></div>
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
          <h6 class="">We're not just management accountants and bookkeepers. We know business. We love business. We love business owners.</h6>
          <!--Jake says we love to muck about with your numbers-->

        </div>
      <div class="clearfix"></div>
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_transparency"></div>
        </div>
        <h4>Detail Focused</h4>
        <p>Getting the small things right leads to big successes. We focused on the details to understand the whole picture.</p>
      </div>
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_group"></div>
        </div>
        <h4>Proven Team</h4>
        <p>Our team has years of experience and proven track records. Feel great working with pros.</p>
      </div>
      <div class="col-lg-4 col-lg-offset-0 col-sm-6 col-sm-offset-3 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_imac"></div>
        </div>
        <h4>Technology Driven</h4>
        <p>ProvenCFO implements cutting-edge technologies from the best companies around the planet to ensure your system works.</p>
      </div>

    </div>
  </div>
  <div class="feature_style_2 noselect container" style="background-image:url('/assets/images/cre_reimagined.jpg');">
    <div class="container nopadding">
      <div class="col-md-12">
        <div class="col-md-6 col-md-offset-3" style="margin-top:90px;" ><h3 class="" style="font-weight:600;">External CFO<br/>Services Reimagined.</h3></div>
      </div>
      <div class="clearfix"></div>
      <div style="margin-top:30px;" class="centered"><a href="howwework.html" style="display:inherit;position:relative;"><button class="btn btn-primary centered" style="display:inherit;position:relative;">HOW WE WORK</button></a></div>
    </div>
  </div>
  <!--<div class="feature_style_1 noselect" style="background-color:rgba(249,249,249,1);">
    <div class="container nopadding">
      <div class="col-md-12">
        <div class="col-md-8 col-md-offset-2 nopadding"><div class="dash_icon_thumbsup"></div></div>
        <div class="col-md-8 col-md-offset-2"><h3 class="">What clients say about the team.</h3></div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-4 col-sm-6 commentBox">
        <div class="prettyBox">
          <div class="portrait-img" style="background-image: url('http://placehold.it/240x240');border:none;"></div>
          <p class="pretty italic">"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."</p>
          <p class="pretty"><strong>Joe Client</strong>, President,<br/><a href="" target="_blank">Client Company</a></p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 commentBox">
        <div class="prettyBox">
          <div class="portrait-img" style="background-image: url('http://placehold.it/240x240')"></div>
          <p class="pretty italic">"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."</p>
          <p class="pretty"><strong>Joe Client</strong>, President,<br/><a href="" target="_blank">Client Company</a></p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-0 commentBox">
        <div class="prettyBox">
          <div class="portrait-img" style="background-image: url('http://placehold.it/240x240')"></div>
          <p class="pretty italic">"Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua."</p>
          <p class="pretty"><strong>Joe Client</strong>, President,<br/><a href="" target="_blank">Client Company</a></p>
        </div>
      </div>
    </div>
  </div>-->
  <div class="feature_style_1 noselect" style="margin-top:80px;">
    <div class="container nopadding">
      <div class="col-md-8 col-md-offset-2"><h3 class="">The ProvenCFO Difference</h3></div>
      <div class="clearfix"></div>
      <div class="spacer small"></div>
      <div class="col-lg-5" style="margin-top:50px;">
        <div class="col-lg-12 col-md-6 col-sm-8 col-lg-offset-0 col-sm-offset-2 col-md-offset-3 col-xs-offset-0 col-xs-12 featureBox7" style="margin-bottom:30px;">
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 nopadding">
            <div class="featureBox5 circle">
              <div class="dash_icon_greatpeople"></div>
            </div>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8 nopadding">
            <div class="featureBox7">
              <h4 style="margin-bottom:15px;">We're team players</h4>
              <p>Your Attorney, CPA, Banker, and Financial Advisor will love working with us. If you don't have one - we'll bring in <strong>the best</strong>.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-6 col-sm-8 col-lg-offset-0 col-sm-offset-2 col-md-offset-3 col-xs-offset-0 col-xs-12 featureBox7" style="margin-bottom:30px;">
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 nopadding">
            <div class="featureBox5 circle">
              <div class="dash_icon_relationship"></div>
            </div>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8 nopadding">
            <div class="featureBox7">
              <h4 style="margin-bottom:15px;">We're business owners</h4>
              <p>We run other businesses and have <strong>bought, restructured, turned around, and sold</strong> a couple along the way. We don't look at your business just as accountants - we look at the whole <strong>picture</strong>!</p>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-6 col-sm-8 col-lg-offset-0 col-sm-offset-2 col-md-offset-3 col-xs-offset-0 col-xs-12 featureBox7" style="margin-bottom:30px;">
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 nopadding">
            <div class="featureBox5 circle">
              <div class="dash_icon_computer"></div>
            </div>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-8 col-xs-8 nopadding">
            <div class="featureBox7">
              <h4 style="margin-bottom:15px;">We're tech-savvy</h4>
              <p>We use <strong>bleeding edge tech</strong> to move your business into the digital age while making sure your overall workflows and systems are best in practice.</p>
            </div>
          </div>
        </div>


      </div>
      <div class="hidden-xs col-md-12 col-lg-7 col-sm-12">
        <div class="dash_mac2 centered" style="margin:60px auto 80px"></div>
      </div>

    </div>
  </div>
  <div class="feature_style_1 noselect bottomfeature" style="background-color:rgba(249,249,249,1);">
    <div class="container nopadding">
      <div class="col-md-8 col-md-offset-2 nopadding"><div class="dash_icon_sun"></div></div>
      <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
        <h3 class="text-center">Experience TRUST in your system and get PROVEN results.</h3>
        <a href="contact.html"><div style="margin-top:40px;" class="centered"><button class="btn btn-primary btn-large centered" style="display:inherit;position:relative;">GET STARTED</button></div></a>
      </div>
      <div class="clearfix"></div>
      <div style="margin-top:30px;"></div>

      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox smallPrettyBox">
          <div class="dash_icon_lifesaver"></div>
        </div>
        <h5 class="featureBoxh5 uppercase">Got Specific Questions?</h5>
        <p class="noheight">Feel free to call or email us</p>
        <a href="contact.html" target="_blank" class="styled"><span class="uppercase">Contact Us <span class="glyphicon glyphicon-chevron-right"></span></span></a>
      </div>
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox smallPrettyBox">
          <div class="dash_icon_broker"></div>
        </div>
        <h5 class="featureBoxh5 uppercase">Are we the right fit?</h5>
        <p class="noheight">Find out if ProvenCFO is right for you</p>
        <a href="howwework.html" class="styled"><span class="uppercase">How We Work <span class="glyphicon glyphicon-chevron-right"></span></span></a>
      </div>
      <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 featureBox">
        <div class="prettyBox smallPrettyBox">
          <div class="dash_icon_mission"></div>
        </div>
        <h5 class="featureBoxh5 uppercase">Our mission</h5>
        <p class="noheight">We want to be invaluable in your business</p>
        <a href="about.html" class="styled"><span class="uppercase">Our Mission <span class="glyphicon glyphicon-chevron-right"></span></span></a>
      </div>
    </div>
  </div>
</div>
