---
layout: home
title: We love Attorneys
tagline: ProvenCFO is your trusted financial business partner
header_image:   futureCRE.png
---
{% include JB/setup %}
{% include JB/tags_list %}

<div class="home" itemscope itemtype="http://schema.org/LocalBusiness">
  <div class="header3 noselect">
    <div class="header_image_3" style="background-image:url('/assets/images/{{page.header_image}}');" >
      <div class="header_text4">
        <div class="container lightbackground">
          <div class="col-sm-12 nopadding">
            <div class="uppercase"><h6 class="dash featuretag text-center"><span itemprop="name">Maximize your business potential</h6></div>
            <div class="" style="margin-top:10px; margin-bottom:45px;"><h1 class="dash featuretitle text-center" itemprop="description">We love Attorneys</h1></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="feature_style_1 noselect">
    <div class="container nopadding">
        <div class="col-md-8 col-md-offset-2"><h3 class="">Reasons to love ProvenCFO.</h3></div>
        <div class="clearfix"></div>
        <div class="spacer small"></div>
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
          <h6 class="">For most law firms, accounting means stress, worry, frustration, wasted time, and doesn't provide much real value. However, having a system which works, will result in confidence and financial insight, which will help your business in a big way.</h6>
          <!--Jake says we love to muck about with your numbers-->

        </div>
      <div class="clearfix"></div>
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_databaseapp"></div>
        </div>
        <h4>System Creation</h4>
        <p>We ensure you have the right system in place to ensure your accounting is smooth and insighful. We implement systems like Clio in conjuction with Xero to get you the most out of your data.</p>
      </div>
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_internalcontrol"></div>
        </div>
        <h4>Proven Processes</h4>
        <p>Having good systems is only part of the puzzle. We implement recurring processes to marry with great systems to ensure you are always operating in the now, and not months in the past.</p>
      </div>
      <div class="col-lg-4 col-lg-offset-0 col-sm-6 col-sm-offset-3 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_kpi"></div>
        </div>
        <h4>Relevant Reporting</h4>
        <p>Reports shouldn't only be useful for tax and compliance reasons. Your information needs to be relevant, reliable, and real-time. Your accounting also needs to provide real-time business intelligence.</p>
      </div>
      <div class="clearfix"></div>
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_scheduling"></div>
        </div>
        <h4>Forward Looking</h4>
        <p>Every firm has different goals. Some may want to grow while others may want to simply take more moneyhome or be more profitable. No matter the goal the path to get there is found in the numbers.</p>
      </div>
      <div class="col-lg-4 col-sm-6 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_accrual"></div>
        </div>
        <h4>Cash Flow-Focused</h4>
        <p>Cash is always king since your business requires flow to keep things running and your employees paid. Key metrics, growth predictions, and monitoring change always needs to tie back to cash.</p>
      </div>
      <div class="col-lg-4 col-lg-offset-0 col-sm-6 col-sm-offset-3 featureBox">
        <div class="prettyBox">
          <div class="dash_icon_balance"></div>
        </div>
        <h4>Feedback &amp; Optimization</h4>
        <p>The best law firms have a regular cycle of forecasting, tracking, and adjusting as change occurs. Having the right system is like having an amazing road-map of your goals and real-time accountability on how that plan is playing out.</p>
      </div>

    </div>
  </div>



  <div class="feature_style_1 noselect">

    <div class="container nopadding">
      <div class="col-md-12">
        <div class="col-md-8 col-md-offset-2"><h3 class="">How to get Started</h3></div>
        <div class="clearfix"></div>
        <div class="spacer small"></div>
      </div>
    </div>

  </div>
  <div class="feature_style_3 noselect nopadding">
    <div class="container nopadding">
      <div>
        <div class="col-lg-5 col-md-4 col-sm-12">
          <div class="col-md-12 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0 nopadding">
            <div class="featureIcon simple"></div>
            <h3>1st - Evaluate Needs</h3>
            <p>As CFO we want to understand your accounting, financial, IT, and operational needs. The more information we have to understand your pain points, the better we can provide the service you need!</p>
            <p class="uppercase"><a href="contact.html">Lets get started <span class="glyphicon glyphicon-chevron-right" style="font-size:11px; width:0.5em; top:0px;"></span></a></p>
          </div>
        </div>
        <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12 nopadding">
          <div class="screenshot evaluate centered">
          </div>
        </div>
      </div>
    </div>
    <div class="container nopadding">
      <div class="">
        <div class="col-lg-7 col-md-8 hidden-sm hidden-xs nopadding">
          <div class="screenshot scope centered">
          </div>
        </div>
        <div class="col-lg-5 col-md-4 col-sm-12">
          <div class="col-md-12 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0 nopadding">
            <div class="featureIcon package"></div>
              <h3>2nd - Define Scope</h3>
              <p>After identifying your needs we sit down as a team and plan the work needed for your business and identify the needed components and team participants. We'll evaluate the timeline, expected hours involved, and present a extensive engagement proposal.</p>
              <p class="uppercase"><a href="contact.html">Lets get started <span class="glyphicon glyphicon-chevron-right" style="font-size:11px; width:0.5em; top:0px;"></span></a></p>
          </div>
        </div>
        <div class="hidden-lg hidden-md col-sm-12 col-xs-12 nopadding">
          <div class="screenshot scope centered">
          </div>
        </div>
      </div>
    </div>
    <div class="container nopadding">
      <div class="">
        <div class="col-lg-5 col-md-4 col-sm-12">
          <div class="col-md-12 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0 nopadding">
            <div class="featureIcon review"></div>
              <h3>3rd - Identify Tasks</h3>
              <p>We track all our engagements in a sophisticated project management tool and invite you to track workflows and to-dos. We prioritize goals and set assignable tasks to ensure your financial information is always relevant and reliable.</p>
              <p class="uppercase"><a href="contact.html">Lets get started <span class="glyphicon glyphicon-chevron-right" style="font-size:11px; width:0.5em; top:0px;"></span></a></p>
          </div>
        </div>
        <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12 nopadding">
          <div class="screenshot projectmanagement centered">
          </div>
        </div>
      </div>
    </div>
    <div class="container nopadding">
      <div class="">
        <div class="col-lg-7 col-md-8 hidden-sm hidden-xs nopadding">
          <div class="screenshot nocontract centered">
          </div>
        </div>
        <div class="col-lg-5 col-md-4 col-sm-12">
          <div class="col-md-12 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0 nopadding">
            <div class="featureIcon offer"></div>
              <h3>4th - Sign Engagement</h3>
              <p>We operate as a monthly service and let the quality of our work speak for itself. To ensure you're satisfied with the results, we don't tie you into long-term contracts unlike our competitors.</p>
              <p class="uppercase"><a href="contact.html">Lets get started <span class="glyphicon glyphicon-chevron-right" style="font-size:11px; width:0.5em; top:0px;"></span></a></p>
          </div>
        </div>
        <div class="hidden-lg hidden-md col-sm-12 col-xs-12 nopadding">
          <div class="screenshot nocontract centered">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="feature_style_1 noselect">
    <div class="container nopadding" style="margin-bottom:-40px;">
      <div class="container nopadding" style="padding-top:80px;">
        <div class="col-md-12">
          <div class="col-md-8 col-md-offset-2"><h3 class="">Typical Pricing</h3></div>
          <div class="clearfix"></div>
          <div class="spacer small"></div>
        </div>
      </div>
      <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-0 featureBox">
        <div class="prettyBox2">
          <div class="dash_icon_loan1"></div>
          <h6 class="uppercase">Proven <strong>START</strong></h6>
          <h2>$600</h2>
          <p class="text-center">Monthly</p>
          <div class="collapse multi-collapse" id="multiCollapse1">
            <div class="card card-body">
              <div class="card card-body">
                <p class="noheight" style="margin-top:10px">Great for a small business that's just starting to get the ball rolling.<br></p>
                <h6 class="uppercase" style="margin-top:30px">Subscriptions</h6>
                <p class="noheight">Xero<br>-<br>-</p>
                <h6 class="uppercase" style="margin-top:30px">Services include</h6>
                <p class="noheight">Weekly bank reconciliation<br>Monthly management reports<br>Up to 75 transactions/month<br>Dedicated team support<br>Email Support<br>-<br>-<br>-</p>
                <h6 class="uppercase" style="margin-top:30px">Additional Add-ons</h6>
                <p class="noheight">Check out some of our other services<br><a href="finance.html">Financial Structure</a><br><a href="managementadvisory.html">Management Advisory</a><br><a href="technology.html">IT Systems</a><br></p>
              </div>
            </div>
          </div>
          <p class="text-center no-height" style="margin-top:-40px;"><a data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapse1 multiCollapse2 multiCollapse3">Compare Plans</a></p>
        </div>
      </div>
      <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-0 featureBox">
        <div class="prettyBox2 prettyDark">
          <div class="dash_icon_loan2"></div>
          <h6 class="uppercase">Proven <strong>GROW</strong></h6>
          <h2>$800</h2>
          <p>Monthly</p>
          <div class="collapse multi-collapse" id="multiCollapse2">
            <div class="card card-body">
              <p class="noheight" style="margin-top:10px">Best for small businesses who have cut their teeth, and are looking to grow<br></p>
              <h6 class="uppercase" style="margin-top:30px">Subscriptions</h6>
              <p class="noheight">Xero<br>Gusto<br>-</p>
              <h6 class="uppercase" style="margin-top:30px">Services include</h6>
              <p class="noheight">Weekly bank reconciliation<br>Monthly management reports<br>Unlimited transactions/month<br>Dedicated team support<br>Email & Slack Support<br>AR/AP reconciliation<br>Payroll (up to 5)<br>-</p>
              <h6 class="uppercase" style="margin-top:30px">Additional Add-ons</h6>
              <p class="noheight">Check out some of our other services<br><a href="finance.html" style="color:#FFF !important;">Financial Structure</a><br><a href="managementadvisory.html" style="color:#FFF !important;">Management Advisory</a><br><a href="technology.html" style="color:#FFF !important;">IT Systems</a><br></p>
            </div>
          </div>
          <p class="text-center no-height" style="margin-top:-40px;"><a data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapse1 multiCollapse2 multiCollapse3" style="color:#FFF !important;">Compare Plans</a></p>
        </div>
      </div>
      <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0 featureBox">
        <div class="prettyBox2">
          <div class="dash_icon_loan1"></div>
          <h6 class="uppercase">Proven <strong>PRO</strong></h6>
          <h2>$1200</h2>
          <p>Monthly</p>
          <div class="collapse multi-collapse" id="multiCollapse3">
            <div class="card card-body">
              <div class="card card-body">
                <p class="noheight" style="margin-top:10px">For businesses who are in growth mode, and need lots of help.<br></p>
                <h6 class="uppercase" style="margin-top:30px">Subscriptions</h6>
                <p class="noheight">Xero<br>Gusto<br>Clio</p>
                <h6 class="uppercase" style="margin-top:30px">Services include</h6>
                <p class="noheight">Weekly bank reconciliation<br>Monthly management reports<br>Unlimited transactions/month<br>Dedicated team support<br>AR/AP reconciliation<br>Phone, Email & Slack Support<br>Payroll<br>Cash Flow Management</p>
                <h6 class="uppercase" style="margin-top:30px">Additional Add-ons</h6>
                <p class="noheight">Check out some of our other services<br><a href="finance.html">Financial Structure</a><br><a href="managementadvisory.html">Management Advisory</a><br><a href="technology.html">IT Systems</a><br></p>
              </div>
            </div>
          </div>
          <p class="text-center no-height" style="margin-top:-40px;"><a data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapse1 multiCollapse2 multiCollapse3">Compare Plans</a></p>
        </div>
      </div>
    </div>

  </div>

  <div class="feature_style_1 noselect">
    <div class="container nopadding">
      <div class="col-md-8 col-md-offset-2 nopadding"><div class="dash_icon_handshake"></div></div>
      <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
        <h3 class="text-center">Work hand-in-hand with Small Business professionals</h3>
        <a href="contact.html"><div style="margin-top:40px;" class="centered"><button class="btn btn-primary btn-large centered" style="display:inherit;position:relative;">GET STARTED</button></div></a>
      </div>
    </div>
  </div>
</div>
