---
layout: home
title: Pricing is so simple
tagline: ProvenCFO is your trusted financial business partner
header_image:   simple_pricing@2x.jpg
---
{% include JB/setup %}
{% include JB/tags_list %}

<div class="home" itemscope itemtype="http://schema.org/LocalBusiness">
  <div class="header3 noselect">
      <div class="header_image_3" style="background-image:url('/assets/images/{{page.header_image}}');" >
        <div class="header_text4">
          <div class="container">
            <div class="col-sm-12 nopadding">
              <div class="uppercase"><h6 class="dash featuretag text-center"><span itemprop="name">Pricing</h6></div>
              <div class="" style="margin-top:10px; margin-bottom:45px;"><h1 class="dash featuretitle text-center" itemprop="description">Simple pricing.</h1></div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="feature_style_1 noselect">
    <div class="container nopadding" style="margin-bottom:-40px;">
      <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-0 featureBox">
        <div class="prettyBox2">
          <div class="dash_icon_loan1"></div>
          <h6 class="uppercase">CFO</h6>
          <h2>$200</h2>
          <p class="text-center">Hourly Rate</p>
        </div>
      </div>
      <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-0 featureBox">
        <div class="prettyBox2 prettyDark">
          <div class="dash_icon_loan2"></div>
          <h6 class="uppercase">Controller</h6>
          <h2>$150</h2>
          <p>Hourly Rate</p>
        </div>
      </div>
      <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 col-xs-offset-0 featureBox">
        <div class="prettyBox2">
          <div class="dash_icon_loan1"></div>
          <h6 class="uppercase">Senior Accountant</h6>
          <h2>$100</h2>
          <p>Hourly Rate</p>
        </div>
      </div>
    </div>
  </div>
  <div class="feature_style_1 noselect" style="background-color:rgba(249,249,249,1);">
    <div class="container nopadding" style="padding-top:80px;">
      <div class="col-md-12">
        <div class="col-md-8 col-md-offset-2"><h3 class="">Questions</h3></div>
        <div class="clearfix"></div>
        <div class="spacer small"></div>
      </div>
    </div>
    <div class="container nopadding featureBox2" style="padding-bottom:30px;">
        <div class="col-md-6 col-sm-12">
          <h4>How does your pricing work?</h4>
          <p>We will sit down with you and determine the entire scope of your project or ongoing work. We'll determine the appropriate levels of service (CFO vs. Controller vs. Senior Accountant) and then provide you with a monthly or one-time fee to cover our services.</p>
          <h4>What is your typical monthly fee?</h4>
          <p>We have clients spending as little as $400 per month. It really depends on the scope of your needs and how we can best serve your company.</p>
          <h4>Are there any upfront costs?</h4>
          <p>We do have a one-time setup fee which is typically equal to one month of our service.</p>
        </div>
        <div class="col-md-6 col-sm-12">
          <h4>What about one time services such as restructuring my balance sheet? </h4>
          <p>We often get involved in debt refinance, business brokering, or capital raise. In these cases, we will determine the size and scope of the project and determine an appropriate fee based on size and complexity.</p>
          <h4>Which States do you work in?</h4>
          <p>We work all across the United States.</p>
        </div>
      </div>
    </div>

  </div>
  <div class="feature_style_1 noselect">
    <div class="container nopadding">
      <div class="col-md-8 col-md-offset-2 nopadding"><div class="dash_icon_idea"></div></div>
      <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
        <h3 class="text-center">Still have additional questions? We’d love to hear from you…</h3>
        <a href="contact.html"><div style="margin-top:40px;" class="centered"><button class="btn btn-primary btn-large centered" style="display:inherit;position:relative;">CONTACT US</button></div></a>
      </div>
    </div>
  </div>
</div>
