---
layout: home
title: ProvenCFO - Trusted Financial Partner
tagline: ProvenCFO ensures your accounting and information systems are working for you.
header_image:   dashboard_header1.png
---
{% include JB/setup %}
{% include JB/tags_list %}


<div class="jumbotron">
  <div class="container mt-5 pt-5 mt-0">
    <div class="icon_questionnaire d-inline-block pt-4 "></div><div class="ml-3 small bold d-inline-block" style="top:-6px; position: relative;">New Client Questionnaire</div>
  </div>
</div>

<div class="container stdContainer mt-0 pt-0">
  <div class="row justify-content-center mb-md-n5">
    <div class="col-xl-3 col-lg-8 col-md-8 pb-5">
    </div>
    <div class="col-xl-9 col-lg-8 col-md-8 col-8">
      <div class="text-center"><h1>Getting to know you.</h1></div>
      <div class="mt-5">
        <p class="text-center">Let's learn about your business and how we can help</p>
      </div>
    </div>
  </div>
</div>


<div class="container stdContainer mt-0 pt-0">
  <div class="row justify-content-center">
    <div class="sidebar col-xl-3 col-lg-8 pb-5 d-none d-xl-block" id="navbar-side">
      <div class="">
        <div class="bold"><a href="#contact" class="dark">Contact Info</a></div>
        <div class="bold"><a href="#balancesheet" class="dark">Business Balance Sheet</a></div>
        <div class="bold">Assets</div>
        <div><a href="#bankaccount" class="dark">Bank Accounts</a></div>
        <div><a href="#clearingaccount" class="dark">Clearing Acccounts</a></div>
        <div><a href="#creditcardtransit" class="dark">Credit cards in transit</a></div>
        <div><a href="#Inventory" class="dark">Inventory</a></div>
        <div><a href="#OtherCA" class="dark">Other Current Assets</a></div>
        <div><a href="#FixedAssets" class="dark">Fixed Assets</a></div>
        <div class="bold">Liabilities</div>
        <div><a href="#creditcards" class="dark">Credit Cards</a></div>
        <div><a href="#suspense" class="dark">Suspense Account</a></div>
        <div><a href="#historical" class="dark">Historical Adjustment</a></div>
        <div><a href="#loans" class="dark">Bank Loans</a></div>
        <div><a href="#notepayable" class="dark">Other Notes Payable</a></div>
        <div class="bold">Equity</div>
        <div><a href="#ownerscontributions" class="dark">Owners Contributions</a></div>
        <div><a href="#ownersdraw" class="dark">Owners Draws</a></div>
        <div class="bold">Business Income Statements</div>
        <div class="bold">Income</div>
        <div><a href="#sales" class="dark">Sales</a></div>
        <div class="bold">Expenses</div>
        <div><a href="#purchases" class="dark">Purchases</a></div>
        <div><a href="#payroll" class="dark">Payroll</a></div>
        <div><a href="#expenseclaims" class="dark">Expense Claims</a></div>
        <div class="bold">Other</div>
        <div><a href="#paper" class="dark">Paper</a></div>
      </div>
    </div>
    <div class="main col-xl-9 col-lg-8 col-md-8">
      <div class="" data-spy="scroll" data-target="#navbar-side" data-offset="0">
        <form name="newquestionnaire" method="POST" data-netlify="true" netlify-honeypot="bot-field" action="/success.html">
          <p class="hidden">
            <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
          </p>
          <div class="form-row" id="contact">
            <div class="form-group col-md-6">
              <label for="inputFirstName">First Name</label>
              <input type="text" class="form-control" id="inputFirstName" placeholder="first name">
            </div>
            <div class="form-group col-md-6">
              <label for="inputLastName">Last Name</label>
              <input type="text" class="form-control" id="inputLastName" placeholder="last name">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputBusinessName">Business Name</label>
              <input type="text" class="form-control" id="inputBusinessName" placeholder="company">
            </div>
            <div class="form-group col-md-6">
              <label for="inputDBA">DBA</label>
              <input type="text" class="form-control" id="inputDBA" placeholder="dba if any">
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">Business Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="street address">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">City</label>
              <input type="text" class="form-control" id="inputCity" placeholder="city">
            </div>
            <div class="form-group col-md-4">
              <label for="inputState">State</label>
              <select id="inputState" class="form-control">
                <option selected>select</option>
                <option>Alabama</option>
                <option>Alaska</option>
                <option>Arizona</option>
                <option>Arkansas</option>
                <option>California</option>
                <option>Colorado</option>
                <option>Connecticut</option>
                <option>Delaware</option>
                <option>District of Columbia</option>
                <option>Florida</option>
                <option>Georgia</option>
                <option>Hawaii</option>
                <option>Idaho</option>
                <option>Illinois</option>
                <option>Indiana</option>
                <option>Iowa</option>
                <option>Kansas</option>
                <option>Kentucky</option>
                <option>Louisiana</option>
                <option>Maine</option>
                <option>Montana</option>
                <option>Nebraska</option>
                <option>Nevada</option>
                <option>New Hampshire</option>
                <option>New Jersey</option>
                <option>New Mexico</option>
                <option>New York</option>
                <option>North Carolina</option>
                <option>North Dakota</option>
                <option>Ohio</option>
                <option>Oklahoma</option>
                <option>Oregon</option>
                <option>Maryland</option>
                <option>Massachusetts</option>
                <option>Michigan</option>
                <option>Minnesota</option>
                <option>Mississippi</option>
                <option>Missouri</option>
                <option>Pennsylvania</option>
                <option>Rhode Island</option>
                <option>South Carolina</option>
                <option>South Dakota</option>
                <option>Tennessee</option>
                <option>Texas</option>
                <option>Utah</option>
                <option>Vermont</option>
                <option>Virginia</option>
                <option>Washington</option>
                <option>West Virginia</option>
                <option>Wisconsin</option>
                <option>Wyoming</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="inputZip">Zip</label>
              <input type="text" class="form-control" id="inputZip"  placeholder="zip">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputPhone">Phone number</label>
              <input type="text" class="form-control" id="inputPhone" placeholder="888-888-8888">
            </div>
            <div class="form-group col-md-6">
              <label for="inputEmail4">Email</label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>
          </div>
          <div class="form-group" >
            <label for="exampleFormControlTextarea1">Brief description of business</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="tell us about your business"></textarea>
          </div>


          <div class="mt-5"><h4 class="text-center" id="balancesheet">Business Balance Sheet</h4></div>


          <div class="mt-5"><p class="text-center bold">Assets</p></div>


          <div class="mt-5" ><p class="text-center" id="bankaccount" data-spy="scroll" data-target="#navbar-side" data-offset="0"><u>Bank Accounts</u></p></div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="bankaccount2">Do you have any bank accounts?</label>
              <select id="bankaccount2" class="form-control">
                <option selected>select</option>
                <option value="One">Yes</option>
                <option value="Two">No</option>
              </select>
            </div>
          </div>

          <div id="showOne" class="myDiv px-5">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="banknumber"># of Bank Accounts</label>
                <input type="text" class="form-control" id="banknumber" placeholder="0+">
              </div>
              <div class="form-group col-md-6">
                <label for="avetrans">Average # of Monthly Transactions</label>
                <input type="text" class="form-control" id="avetrans" placeholder="0+">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="bankredundant">Are any bank accounts redundant?</label>
                <select id="bankredundant" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Unknown">I don't know</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="bankfeed">Are all bank accounts available by bank feed?</label>
                <select id="bankfeed" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Unknown">I don't know</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="bankaccess">Can we obtain read-only online access?</label>
                <select id="bankaccess" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Unknown">I don't know</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="bankstatement">Does your statement balance in your books match the current balance for your bank accounts (not including pending items)?</label>
                <select id="bankstatement" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Unknown">I don't know</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="bankpositive">Are the statement balances positive (debit) amounts in your books?</label>
                <select id="bankpositive" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Unknown">I don't know</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="banktransfers">Are transfers between bank/credit/gateway accounts being handled correctly?</label>
                <select id="banktransfers" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Unknown">I don't know</option>
                </select>
              </div>
            </div>
          </div>


          <div class="mt-5" ><p class="text-center" id="clearingaccount"><u>Clearing Accounts</u></p></div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="myselection2">Do you use clearing accounts (i.e. credit cards in transit)?</label>
              <select id="myselection2" class="form-control">
                <option selected>select</option>
                <option value="One">Yes</option>
                <option value="Two">No</option>
                <option value="Unknown">I don't know</option>
              </select>
            </div>
          </div>
          <div id="show2One" class="myDiv2 px-5">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="clearingbank">Are clearing accounts set up as bank accounts in your accounting software or as current assets?</label>
                <select id="clearingbank" class="form-control">
                  <option selected>select</option>
                  <option value="BankAccount">Bank</option>
                  <option value="CurrentAsset">Current Asset</option>
                </select>
              </div>
            </div>
            <div id="show3BankAccount" class="myDiv3 px-5">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="clearingtransfer">Are the clearing amounts that come into the bank account transferred into the clearing account?</label>
                  <select id="clearingtransfer" class="form-control">
                    <option selected>select</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                    <option value="Unknown">I don't know</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="clearingadjusting">Is the statement balance adjusting or does it need to be adjusted manually?</label>
                  <select id="clearingadjusting" class="form-control">
                    <option selected>select</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                    <option value="Unknown">I don't know</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="clearingzero">Do clearing accounts ever get close to zero?</label>
                <select id="clearingzero" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Unknown">I don't know</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="clearingbalance">Do clearing accounts maintain a regular average balance?</label>
                <select id="clearingbalance" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Unknown">I don't know</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="clearingchange">Do clearing accounts increase and/or decrease without an entry offsetting the amount?</label>
                <select id="clearingchange" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Unknown">I don't know</option>
                </select>
              </div>
            </div>
          </div>


          <div class="mt-5" ><p class="text-center" id="creditcardtransit"><u>Credit Cards in Transit</u></p></div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="acceptcredit">Do you accept credit cards as payment from customers/clients?</label>
              <select id="acceptcredit" class="form-control">
                <option selected>select</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
          </div>
          <div id="show4Yes" class="myDiv4 px-5">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="merchantfee">Does your merchant service provider break out fee information per transaction?</label>
                <select id="merchantfee" class="form-control">
                  <option selected>select</option>
                  <option value="One">Yes</option>
                  <option value="Two">No</option>
                  <option value="Unknown">I don't know</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="merchantfee">Do you have online access to merchant service transaction detail?</label>
                <select id="merchantfee" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Unknown">I don't know</option>
                </select>
              </div>
            </div>
          </div>


          <div class="mt-5" ><p class="text-center" id="Inventory"><u>Inventory</u></p></div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inventoryhandle">Does your business handle inventory?</label>
              <select id="inventoryhandle" class="form-control">
                <option selected>select</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
          </div>
          <div id="show5Yes" class="myDiv5 px-5">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="skunumber">How many individual SKU’s does the business have?</label>
                <select id="skunumber" class="form-control">
                  <option selected>select</option>
                  <option value="0 - 10">0 - 10</option>
                  <option value="10 - 100">10 - 100</option>
                  <option value="100 - 250">100 - 250</option>
                  <option value="250 - 1000">250 - 1,000</option>
                  <option value="1000 - 10000">1,000 - 10,000</option>
                  <option value="10000+">10,000 +</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="IMS">Does your business use Inventory Management Software (IMS)?</label>
                <select id="IMS" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>
            <div id="show6Yes" class="myDiv6 px-5">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="IMSpush">Does your IMS push a COGS/inventory journal entry into your accounting system on a regular basis?</label>
                  <select id="IMSpush" class="form-control">
                    <option selected>select</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                    <option value="Unknown">I don't know</option>
                  </select>
                </div>
              </div>
            </div>
          </div>


          <div class="mt-5" ><p class="text-center" id="OtherCA"><u>Other Current Assets</u></p></div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="investmentCA">Are there investment accounts that need to be accounted for as current assets? </label>
              <select id="investmentCA" class="form-control">
                <option selected>select</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                <option value="Unknown">I don't know</option>
              </select>
            </div>
          </div>
          <div id="show7Yes" class="myDiv7 px-5">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="investmentcorrect">Has the investment income been accounted for correctly in your books? (INFO: Does the book statement/bank statement and online bank balance match?)</label>
                <select id="investmentcorrect" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Unknown">I don't know</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="debtors">Is there anyone that owes the business money?</label>
              <select id="debtors" class="form-control">
                <option selected>select</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
          </div>
          <div id="show8Yes" class="myDiv8 px-5">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="repaymentschedule">Is there a repayment schedule?</label>
                <select id="repaymentschedule" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Unknown">I don't know</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="CAinterest">Are you recording the interest income?</label>
                <select id="CAinterest" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Unknown">I don't know</option>
                </select>
              </div>
            </div>
          </div>


          <div class="mt-5" ><p class="text-center" id="FixedAssets"><u>Fixed Assets</u></p></div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="FA">Does your business purchase Fixed Assets?</label>
              <select id="FA" class="form-control">
                <option selected>select</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
          </div>
          <div id="show9Yes" class="myDiv9 px-5">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="recurringdep">Have you scheduled a recurring manual journal entry to account for depreciation?</label>
                <select id="recurringdep" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Unknown">I don't know</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="FAledger">Have you created a fixed asset ledger?</label>
                <select id="FAledger" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Unknown">I don't know</option>
                </select>
              </div>
            </div>
          </div>


          <div class="mt-5"><p class="text-center bold">Liabilities</p></div>


          <div class="mt-5" ><p class="text-center" id="creditcards"><u>Credit Cards</u></p></div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="creditcarduse">Do you have any credit cards?</label>
              <select id="creditcarduse" class="form-control">
                <option selected>select</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
          </div>
          <div id="show10Yes" class="myDiv10 px-5">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="creditnumber"># of credit card accounts</label>
                <input type="text" class="form-control" id="creditnumber" placeholder="0+">
              </div>
              <div class="form-group col-md-6">
                <label for="credavetrans">Average # of Monthly Transactions</label>
                <input type="text" class="form-control" id="credavetrans" placeholder="0+">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="cardfeed">Are all credit cards available by bank feed?</label>
                <select id="cardfeed" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Unknown">I don't know</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="cardaccess">Can we obtain read-only online access?</label>
                <select id="cardaccess" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Unknown">I don't know</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="cardstatement">Does the statement balance in your accounting software match the current balance for your credit cards?</label>
                <select id="cardstatement" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Unknown">I don't know</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="cardnegative">Are the statement balances negative (credit) amounts in your books?</label>
                <select id="cardnegative" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Unknown">I don't know</option>
                </select>
              </div>
            </div>
          </div>


          <div class="mt-5" ><p class="text-center" id="suspense"><u>Suspense account</u></p></div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="SuspenseAcc">Do you have suspense account entries?</label>
              <select id="SuspenseAcc" class="form-control">
                <option selected>select</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                <option value="Unknown">I don't know</option>
              </select>
            </div>
          </div>
          <div id="show11Yes" class="myDiv11 px-5">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="coding">Who is coding them there?</label>
                <select id="coding" class="form-control">
                  <option selected>select</option>
                  <option value="Employee">An employee</option>
                  <option value="Bookeeper">Current or previous bookkeeper</option>
                  <option value="CPA">Current or previous CPA</option>
                  <option value="Business owner">Business owner</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="whysuspense">Why are there suspense account entries?</label>
                <input type="text" class="form-control" id="whysuspense" placeholder="for unknown reasons">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="uncleared">Are there historical entries in your suspense account that haven’t been cleared yet?</label>
                <select id="uncleared" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Unknown">I don't know</option>
                </select>
              </div>
            </div>
          </div>


          <div class="mt-5" ><p class="text-center" id="historical"><u>Historical Adjustment</u></p></div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="HistoricalAcc">Do you have historical adjustment entries?</label>
              <select id="HistoricalAcc" class="form-control">
                <option selected>select</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                <option value="Unknown">I don't know</option>
              </select>
            </div>
          </div>
          <div id="show12Yes" class="myDiv12 px-5">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="historicaltype">What types of transactions have been recorded?</label>
                <input type="text" class="form-control" id="historicaltype" placeholder="strange ones">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="individually">Can we account for them individually?</label>
                <select id="individually" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Unknown">I don't know</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="documented">Can we document the issue for your year-end tax preparer?</label>
                <select id="documented" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Unknown">I don't know</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="flushed">Can we flush the adjustment through your Profit & Loss for the year?</label>
                <select id="flushed" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Unknown">I don't know</option>
                </select>
              </div>
            </div>
          </div>


          <div class="mt-5" ><p class="text-center" id="loans"><u>Bank Loans</u></p></div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="BankLoans">Do you have any bank loans?</label>
              <select id="BankLoans" class="form-control">
                <option selected>select</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                <option value="Unknown">I don't know</option>
              </select>
            </div>
          </div>
          <div id="show13Yes" class="myDiv13 px-5">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="bankloannumber"># of Bank Loans</label>
                <input type="text" class="form-control" id="bankloannumber" placeholder="0+">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="amortization">Do you have an amortization schedule for each loan?</label>
                <select id="amortization" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Unknown">I don't know</option>
                </select>
              </div>
            </div>
            <div id="show14Yes" class="myDiv14 px-5">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="documented">Are you making an adjustment between interest and repayment in your bookkeeping reconciliation?</label>
                  <select id="documented" class="form-control">
                    <option selected>select</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                    <option value="Unknown">I don't know</option>
                  </select>
                </div>
              </div>
            </div>
            <div id="show14No" class="myDiv14 px-5">
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="flushed">Are you doing a manual journal entry to record the interest and repayment?</label>
                  <select id="flushed" class="form-control">
                    <option selected>select</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                    <option value="Unknown">I don't know</option>
                  </select>
                </div>
              </div>
            </div>
          </div>


          <div class="mt-5" ><p class="text-center" id="notepayable"><u>Other Notes Payable</u></p></div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="OtherNP">Do you have any notes payable?</label>
              <select id="OtherNP" class="form-control">
                <option selected>select</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                <option value="Unknown">I don't know</option>
              </select>
            </div>
          </div>
          <div id="show15Yes" class="myDiv15 px-5">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="notepayablenumber"># of Other Notes Payable</label>
                <input type="text" class="form-control" id="notepayablenumber" placeholder="0+">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="npschedule">Do these notes have repayment schedules?</label>
                <select id="npschedule" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Unknown">I don't know</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="npJE">Have you set up manual journal entries to account for accrued interest? </label>
                <select id="npJE" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Unknown">I don't know</option>
                </select>
              </div>
            </div>
          </div>

          <div class="mt-5"><p class="text-center bold">Equity</p></div>

          <div class="mt-5" ><p class="text-center" id="ownerscontributions"><u>Owners Contributions</u></p></div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="EquityCash">Is the owner making any direct cash contributions to the business?</label>
              <select id="EquityCash" class="form-control">
                <option selected>select</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                <option value="Unknown">I don't know</option>
              </select>
            </div>
          </div>
          <div id="show16Yes" class="myDiv16 px-5">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="contributionsBS">Have these contributions been recorded on the Balance Sheet?</label>
                <select id="contributionsBS" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Unknown">I don't know</option>
                </select>
              </div>
            </div>
          </div>


          <div class="mt-5" ><p class="text-center" id="ownersdraw"><u>Owners Draws (expenses on behalf of owners)</u></p></div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="Ownerexpense">Are there ‘Expense on behalf of owners’ accounts on the income statement?</label>
              <select id="Ownerexpense" class="form-control">
                <option selected>select</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
                <option value="Unknown">I don't know</option>
              </select>
            </div>
          </div>
          <div id="show17Yes" class="myDiv17 px-5">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="OEIS">Does the owner want to see “Expense on behalf of owners” on the income statement?</label>
                <select id="OEIS" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Unknown">I don't know</option>
                </select>
              </div>
            </div>
          </div>


          <div class="mt-5"><p class="text-center bold">Income</p></div>

          <div class="mt-5" ><p class="text-center" id="sales"><u>Sales</u></p></div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="Basis">Does your business recognize income using “Cash” or “Accrual” basis?</label>
              <select id="Basis" class="form-control">
                <option selected>select</option>
                <option value="Cash">Cash</option>
                <option value="Accrual">Accrual</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="salesgenerate">How does your business generate sales?</label>
              <input type="text" class="form-control" id="salesgenerater" placeholder="how you generate sales">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="Invoicing">Does your business use invoicing software?</label>
              <select id="Invoicing" class="form-control">
                <option selected>select</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
          </div>
          <div id="show18Yes" class="myDiv18 px-5">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="invoicingsoftware">What kind of invoicing software?</label>
                <input type="text" class="form-control" id="invoicingsoftware" placeholder="software type">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="connection">Does the invoicing software connect to your accounting software?</label>
                <select id="connection" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="functioning">Is the integration currently functioning?</label>
                <select id="functioning" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Unknown">I don't know</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="receivableauto">Are the receivables being automatically marked as paid or manually?</label>
                <select id="receivableauto" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Unknown">I don't know</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="awaitingpayment">Do you have invoices awaiting payment in your accounting software?</label>
                <select id="awaitingpayment" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="receivablescorrect">Are your receivables correct?</label>
                <select id="receivablescorrect" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Unknown">I don't know</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="salestax">Does your business pay sales tax on income?</label>
              <select id="salestax" class="form-control">
                <option selected>select</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
          </div>
          <div id="show20Yes" class="myDiv20 px-5">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="salestaxhelp">Would you like ProvenCFO’s support with regards to filing sales tax reports?</label>
                <select id="salestaxhelp" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>
          </div>


          <div class="mt-5"><p class="text-center bold">Expenses</p></div>

          <div class="mt-5" ><p class="text-center" id="purchases"><u>Purchases</u></p></div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="billnumber">Average # of bills paid each month?</label>
              <input type="text" class="form-control" id="billnumber" placeholder="0+">
            </div>
            <div class="form-group col-md-6">
              <label for="checknumber">Average # of checks created each month?</label>
              <input type="text" class="form-control" id="checknumber" placeholder="0+">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="checkwriting">Is your business using accounting software to write checks?</label>
              <select id="checkwriting" class="form-control">
                <option selected>select</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
          </div>
          <div id="show19No" class="myDiv19 px-5">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="checksoftware">Are you using accounting Software to input the bills?</label>
                <select id="checksoftware" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="checkrecon">Are those checks being reconciled through the reconciliation process?</label>
                <select id="checkrecon" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Unknown">I don't know</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="checkrules">Are check rules being created so that your expenses are assigned to the correct account when you write checks?</label>
                <select id="checkrules" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="Unknown">I don't know</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="purchaseorders">Does your business use purchase orders?</label>
              <select id="purchaseorders" class="form-control">
                <option selected>select</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
          </div>
          <div id="show21Yes" class="myDiv21 px-5">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="PObill">Are your purchase orders converted into bills to match against payments?</label>
                <select id="PObill" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="POIMS">Does your business use Inventory Management Software (IMS) for Purchase Orders?</label>
              <select id="POIMS" class="form-control">
                <option selected>select</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
          </div>
          <div id="show22Yes" class="myDiv22 px-5">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="POIMSclear">Are payments to your vendors being coded to a “Purchases” clearing account?</label>
                <select id="POIMSclear" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="POintegration">Is there an integration which pushes purchase information into the system that needs to be cleared?</label>
              <select id="POintegration" class="form-control">
                <option selected>select</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
          </div>
          <div id="show23Yes" class="myDiv23 px-5">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="POname">What is the name of the integration?</label>
                <input type="text" class="form-control" id="POname" placeholder="Purchase software name">
              </div>
            </div>
          </div>


          <div class="mt-5" ><p class="text-center" id="payroll"><u>Payroll/Independent Contractors (1099)</u></p></div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="employees">Do you have any employees?</label>
              <select id="employees" class="form-control">
                <option selected>select</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
          </div>
          <div id="show24Yes" class="myDiv24 px-5">
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="hourly"># of hourly employees</label>
                <input type="text" class="form-control" id="hourly" placeholder="0+">
              </div>
              <div class="form-group col-md-4">
                <label for="salary"># of salaried employees</label>
                <input type="text" class="form-control" id="salary" placeholder="0+">
              </div>
              <div class="form-group col-md-4">
                <label for="commission"># of commission employees</label>
                <input type="text" class="form-control" id="commission" placeholder="0+">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="payrollservice">Does your business use a payroll service to pay your W2 employees?</label>
                <select id="payrollservice" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>
            <div id="show25No" class="myDiv25 px-5">
              <div class="form-group col-md-12">
                <label for="payrollJE">Do you use a journal entry to account for payroll?</label>
                <select id="payrollJE" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>
            <div id="show25Yes" class="myDiv25 px-5">
              <div class="form-group col-md-12">
                <label for="payrollname">What is the name of the payroll service company?</label>
                <input type="text" class="form-control" id="payrollname" placeholder="name of payroll service">
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="contractors">Do you have any contractors?</label>
              <select id="contractors" class="form-control">
                <option selected>select</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
          </div>
          <div id="show26Yes" class="myDiv26 px-5">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="hourlycontractors"># of hourly contractors</label>
                <input type="text" class="form-control" id="hourlycontractors" placeholder="0+">
              </div>
              <div class="form-group col-md-6">
                <label for="commissioncontractors"># of commission contractors</label>
                <input type="text" class="form-control" id="commissioncontractors" placeholder="0+">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="contractorpayments">Are these contractor payments being recorded in your Accounting Software so that 1099s can be prepared at year-end?</label>
                <select id="contractorpayments" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="w9collect">Does your business collect W9s for contractors?</label>
                <select id="w9collect" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>
            <div id="show27Yes" class="myDiv27 px-5">
              <div class="form-group col-md-12">
                <label for="1099storage">Where are they being stored?</label>
                <input type="text" class="form-control" id="1099storage" placeholder="storage location">
              </div>
            </div>
          </div>


          <div class="mt-5" ><p class="text-center" id="expenseclaims"><u>Expense Claims</u></p></div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="reimburse">Is the business owner using “Expenses Claims” to reimburse themselves?</label>
              <select id="reimburse" class="form-control">
                <option selected>select</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
          </div>
          <div id="show28Yes" class="myDiv28 px-5">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="reimburseteach">Would you like ProvenCFO to teach you how to effectively utilize “Expense Claims”?</label>
                <select id="reimburseteach" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>
          </div>


          <div class="mt-5"><p class="text-center bold">Other</p></div>

          <div class="mt-5" ><p class="text-center" id="paper"><u>Paper</u></p></div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="papergen">Does your business generate lots of paper?</label>
              <select id="papergen" class="form-control">
                <option selected>select</option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
              </select>
            </div>
          </div>
          <div id="show29Yes" class="myDiv29 px-5">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="hubdoc">Would you be open to exploring using either Shoeboxed, ReceiptBank, or HubDoc? </label>
                <select id="hubdoc" class="form-control">
                  <option selected>select</option>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-secondary btn-lg btn-block mt-5">SUBMIT</button>
        </form>
      </div>
    </div>
  </div>
</div>
