---
layout: home
title: ProvenCFO - Trusted Financial Partner
tagline: ProvenCFO ensures your accounting and information systems are working for you.
header_image:   dashboard_header1.png
---
{% include JB/setup %}
{% include JB/tags_list %}


<div class="jumbotron">
  <div class="container mt-5 pt-5 mt-0">
    <div class="icon_questionnaire d-inline-block pt-4 "></div><div class="ml-3 small bold d-inline-block" style="top:-6px; position: relative;">New Client Questionnaire</div>
  </div>
</div>

<div class="container stdContainer mt-0 pt-0">
  <div class="row justify-content-center mb-md-n5">
    <div class="col-xl-3 col-lg-8 col-md-8 pb-5">
    </div>
    <div class="col-xl-9 col-lg-8 col-md-8 col-8">
      <div class="text-center"><h1>Getting to know you.</h1></div>
      <div class="mt-5">
        <p class="text-center">Let's learn about your business and how we can help</p>
      </div>
    </div>
  </div>
</div>

<div class="container stdContainer mt-0 pt-0">
  <div class="row justify-content-center">
    <div class="sidebar col-xl-3 col-lg-8 pb-5   d-none d-xl-block" id="navbar-side">
      <div class="pl-1 pl-md-4 ml-md-0 ml-lg-0 ml-xl-n3">
        <div class="bold"><a href="#contact">Contact Info</a></div>
        <div class="bold"><a href="#balancesheet">Business Balance Sheet</a></div>
        <div class="bold">Assets</div>
        <div><a href="#bankaccount">Bank Accounts</a></div>
        <div>Clearing Acccounts</div>
        <div>Credit cards in transit</div>
        <div>Inventory</div>
        <div>Other Current Assets</div>
        <div>Fixed Assets</div>
        <div class="bold">Liabilities</div>
        <div>Credit Cards</div>
        <div>Suspense Account</div>
        <div>Historical Adjustment</div>
        <div>Bank Loans</div>
        <div>Other Notes Payable</div>
        <div class="bold">Equity</div>
        <div>Owners Contributions</div>
        <div>Owners Draws</div>
        <div class="bold">Business Income Statements</div>
        <div class="bold">Income</div>
        <div>Sales</div>
        <div class="bold">Expenses</div>
        <div>Purchases</div>
        <div>Payroll</div>
        <div>Expense Claims</div>
        <div>Other Expenses</div>
        <div class="bold">Other</div>
        <div>Paper</div>
      </div>
    </div>
    <div class="main col-xl-9 col-lg-8 col-md-8">
      <div class=""data-spy="scroll" data-target="#navbar-side" data-offset="50">
        <form>
          <div class="form-row" id="contact">
            <div class="form-group col-md-6">
              <label for="inputFirstName">First Name</label>
              <input type="text" class="form-control" id="inputFirstName" placeholder="first name">
            </div>
            <div class="form-group col-md-6">
              <label for="inputLastName">Last Name</label>
              <input type="text" class="form-control" id="inputLastName" placeholder="last name">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputBusinessName">Business Name</label>
              <input type="text" class="form-control" id="inputBusinessName" placeholder="company">
            </div>
            <div class="form-group col-md-6">
              <label for="inputDBA">DBA</label>
              <input type="text" class="form-control" id="inputDBA" placeholder="dba if any">
            </div>
          </div>
          <div class="form-group">
            <label for="inputAddress">Business Address</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="street address">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">City</label>
              <input type="text" class="form-control" id="inputCity" placeholder="city">
            </div>
            <div class="form-group col-md-4">
              <label for="inputState">State</label>
              <select id="inputState" class="form-control">
                <option selected>select</option>
                <option>Alabama</option>
                <option>Alaska</option>
                <option>Arizona</option>
                <option>Arkansas</option>
                <option>California</option>
                <option>Colorado</option>
                <option>Connecticut</option>
                <option>Delaware</option>
                <option>District of Columbia</option>
                <option>Florida</option>
                <option>Georgia</option>
                <option>Hawaii</option>
                <option>Idaho</option>
                <option>Illinois</option>
                <option>Indiana</option>
                <option>Iowa</option>
                <option>Kansas</option>
                <option>Kentucky</option>
                <option>Louisiana</option>
                <option>Maine</option>
                <option>Montana</option>
                <option>Nebraska</option>
                <option>Nevada</option>
                <option>New Hampshire</option>
                <option>New Jersey</option>
                <option>New Mexico</option>
                <option>New York</option>
                <option>North Carolina</option>
                <option>North Dakota</option>
                <option>Ohio</option>
                <option>Oklahoma</option>
                <option>Oregon</option>
                <option>Maryland</option>
                <option>Massachusetts</option>
                <option>Michigan</option>
                <option>Minnesota</option>
                <option>Mississippi</option>
                <option>Missouri</option>
                <option>Pennsylvania</option>
                <option>Rhode Island</option>
                <option>South Carolina</option>
                <option>South Dakota</option>
                <option>Tennessee</option>
                <option>Texas</option>
                <option>Utah</option>
                <option>Vermont</option>
                <option>Virginia</option>
                <option>Washington</option>
                <option>West Virginia</option>
                <option>Wisconsin</option>
                <option>Wyoming</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="inputZip">Zip</label>
              <input type="text" class="form-control" id="inputZip"  placeholder="zip">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputPhone">Phone number</label>
              <input type="text" class="form-control" id="inputPhone" placeholder="888-888-8888">
            </div>
            <div class="form-group col-md-6">
              <label for="inputEmail4">Email</label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
            </div>
          </div>
          <div class="form-group" >
            <label for="exampleFormControlTextarea1">Brief description of business</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="tell us about your business"></textarea>
          </div>

          <div class="mt-5"><h4 class="text-center" id="balancesheet">Business Balance Sheet</h4></div>
          <div class="mt-0"><p class="text-center bold">Assets</p></div>
          <div class="mt-0" ><p class="text-center" id="bankaccount"><u>Bank Accounts</u></p></div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputState">Do you have any bank accounts?</label>
              <select id="inputState" class="form-control">
                <option selected>select</option>
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
          </div>
          <div class="mt-5" ><p class="text-center" id="bankaccount"><u>Clearing Accounts</u></p></div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputState">Do you use clearing accounts (i.e. credit cards in transit)?</label>
              <select id="inputState" class="form-control">
                <option selected>select</option>
                <option>Yes</option>
                <option>No</option>
              </select>
            </div>
          </div>

          <button type="submit" class="btn btn-primary">SUBMIT</button>
        </form>
      </div>
    </div>
  </div>
</div>
