---
layout: home
title: ProvenCFO - Trusted Financial Partner
tagline: ProvenCFO ensures your accounting and information systems are working for you.
header_image:   dashboard_header1.png
---
{% include JB/setup %}
{% include JB/tags_list %}


<div class="jumbotron">
  <div class="container mt-5 pt-5 mt-0">
    <div class="icon_questionnaire d-inline-block pt-4 "></div><div class="ml-3 small bold d-inline-block" style="top:-6px; position: relative;">New Client Questionnaire</div>
  </div>
</div>

<div class="container stdContainer mt-0 pt-0">
  <div class="row justify-content-center mb-md-n5">
    <div class=" col-md-12 col-12">
      <div class="text-center"><h1>Thank you!</h1></div>
      <div class="mt-5">
        <p class="text-center">We'll connect with you shortly</p>
      </div>
    </div>
  </div>
</div>
