---
layout: home
title: ProvenCFO - Trusted Financial Partner
tagline: ProvenCFO ensures your accounting and information systems are working for you.
header_image:   dashboard_header1.png
---
{% include JB/setup %}
{% include JB/tags_list %}


<div class="jumbotron pb-0">
  <div class="container pt-5 mt-0">
    <div class="icon_CFOapp_blue d-inline-block pt-3"></div><div class="ml-3 small bold d-inline-block" style="top:-14px; position: relative;">Tax Prep</div>
    <div class="row mt-3">
      <div class="col-lg-5 col-sm-8 col-12">
        <h1 class="mt-5">We'll even <span class="truth_blue px-2">tackle</span> the taxman</h1>
        <h2 class="mt-5">The team will make sure your i's and t's are where they're supposed to be</h2>
      </div>
      <div class="col-lg-7 col-sm-12 col-12 my-0" style="display: flex;">
          <img src="/assets/images/Slice - Dave.png" class="img-fluid jumboimg" alt="Responsive image">
          <div class="position-absolute float-left not-actually"><span class="not-actually-highlight">* Still not actually Dave! Pics postponed due to COVID-19 :(</span></div>
      </div>
    </div>
  </div>
</div>

<div class="blackBanner text-white">
  <div class="container pb-5">
    <div class="pt-5 mx-auto text-center"><h4><span class="truth_blue_text">Tax</span> Prep</h4></div>
    <div class="row justify-content-center mt-5">
      <div class="col-lg-6 col-sm-4 col-6"><h5 class="text-center">Your <span class="bold">business and personal</span> taxes can now all be handled by our "one-stop shop" for everything financial</h5></div>
    </div>
  </div>
</div>
<div class="unevenDark"></div>

<div class="my-5">
  <div class="container my-0 pt-0">
    <div class="pricingIllustration px-3">
      <div class="row justify-content-center p-3">
        <div class="col-10 col-md-8 col-xl-4 mb-3">
          <div class="pricingHeaderClear mx-0"></div>
          <div class="border border-dark color_box bg-white p-5 mx-0">
            <div class="row justify-content-center">
              <div class="col-12">
                <div class="pricingBox">
                      <h4 class="text-center">Individual</h4>
                      <p class="small mt-3 text-center font-italic">Starting at:</p>
                      <h1 class="mb-3 text-center"><span class="superbold">$399</span><span class="medium">/return</span></h1>
                      <div>
                        <div class="check_mark d-inline-block mr-2"></div>
                        <div class="d-inline-block">CPA or EA prepared return</div>
                      </div>
                      <div>
                        <div class="check_mark d-inline-block mr-2"></div>
                        <div class="d-inline-block">Audit Protection</div>
                      </div>
                      <div>
                        <div class="check_mark d-inline-block mr-2"></div>
                        <div class="d-inline-block">Analysis of filing status</div>
                      </div>
                      <div>
                        <div class="check_mark d-inline-block mr-2"></div>
                        <div class="d-inline-block">Maximizing of tax benefits</div>
                      </div>
                      <div>
                        <div class="check_mark d-inline-block mr-2"></div>
                        <div class="d-inline-block">Free extention</div>
                      </div>
              </div>
                <div class="input-group-append mt-3">
                  <a href="Questionnaire.html" class="btn btn-primary white px-4 btn-lg btn-block mt-2" type="button" id="button-addon2">Get Started</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-10 col-md-8 col-xl-4 mb-3">
          <div class="pricingHeaderClear mx-0">
          </div>
          <div class="border border-dark color_box bg-white p-5 mx-0 ">
            <div class="row justify-content-center">
              <div class="col-12">
                <div class="pricingBox">
                  <h4 class="text-center">Business</h4>
                  <p class="small mt-3 text-center font-italic">Starting at:</p>
                  <h1 class="mb-3 text-center"><span class="superbold">$899</span><span class="medium">/return</span></h1>
                  <div>
                    <div class="check_mark d-inline-block mr-2"></div>
                    <div class="d-inline-block">Self-employed & Contractors</div>
                  </div>
                  <div>
                    <div class="check_mark d-inline-block mr-2"></div>
                    <div class="d-inline-block">Partnerships & Corporations</div>
                  </div>
                  <div>
                    <div class="check_mark d-inline-block mr-2"></div>
                    <div class="d-inline-block">Uncover business benefits</div>
                  </div>
                  <div>
                    <div class="check_mark d-inline-block mr-2"></div>
                    <div class="d-inline-block">Benefit from latest tax law</div>
                  </div>
                  <div>
                    <div class="check_mark d-inline-block mr-2"></div>
                    <div class="d-inline-block">Free extension</div>
                  </div>
                  <div>
                    <div class="check_mark d-inline-block mr-2"></div>
                    <div class="d-inline-block">Custom Integrations</div>
                  </div>
                  <div>
                    <div class="check_mark d-inline-block mr-2"></div>
                    <div class="d-inline-block">Custom Reporting</div>
                  </div>
                  <div>
                    <div class="check_mark d-inline-block mr-2"></div>
                    <div class="d-inline-block">And more...</div>
                  </div>
                </div>
                <div class="input-group-append mt-3">
                  <a href="Questionnaire.html" class="btn btn-primary white px-4 btn-lg btn-block mt-2" type="button" id="button-addon2">Get Started</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="stdContainer beach_blue stdContainerTall">
  </div>
  <div class="unevenBeachBlue">
  </div>
</div>

<div class="position-relative container stdContainer mt-5 pt-0">
  <div class="row justify-content-center mb-md-n5">
    <div class="col-md-12 col-12">
      <div class="text-center"><h4>Some FAQs</h4></div>
      <div class="mt-5">
      </div>
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="col-10 col-lg-8"
      <div id="accordion">
        <div class="card mb-3">
          <div class="card-header p-4" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h5 class="mb-0">
              <div class="bold">
                Can I cancel ProvenCFO services at any time?
              </div>
            </h5>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <p class="px-4">Yes. Our engagements require a 30-day notice for cancellation, but you can cancel at any time.</p>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header p-4" id="headingTwo"  data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"  collapsed>
            <h5 class="mb-0">
              <div class="bold">
                How do I communicate with ProvenCFO?
              </div>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <p class="px-4">Our services are primarily electronic. We communicate with our clients via email, phone, our CFO App, or Google Meet (video conferencing & screen sharing). When needed, our Partners and Controllers also have the ability to work onsite with clients.</p>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header p-4" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"  collapsed>
            <h5 class="mb-0">
              <div class="bold">
                Do you recommend Quickbooks or Xero?
              </div>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <p class="px-4">Both <span class="bold">Quickbooks</span> and <span class="bold">Xero</span> are great solutions. We advise our clients to switch to Xero, as we love their robust platform, and the tremendous support they offer both accountants and businesses.</p>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header p-4" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour"  collapsed>
            <h5 class="mb-0">
              <div class="bold">
                What reports can ProvenCFO provide me?
              </div>
            </h5>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
              <p class="px-4">We can create any kind of report you need, and publish in any format requested. You’ll also love our KPI Dashboards, which provide real-time financial intelligence to help you run your business.</p>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header p-4" id="headingFive" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive"  collapsed>
            <h5 class="mb-0">
              <div class="bold">
                Do I need the Essential, Pro, or Next Level plan?
              </div>
            </h5>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
              <p class="px-4">Our pricing and plans are differentiated based on volume of work required, scope of difficulty, frequency of bookkeeping, and expected communication with Associates and Partners. Our starting prices are reflected above. Each monthly engagement fee and onboarding fee is calculated based on completion and evaluation conducted during the <a href="questionnaire.html" class="dark"><span class="font-italic bold">New Client Questionnaire<span>.</a></p>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header p-4" id="headingSix" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix"  collapsed>
            <h5 class="mb-0">
              <div class="bold">
                Where are ProvenCFO employees located?
              </div>
            </h5>
          </div>
          <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body">
              <p class="px-4">Most of our employees work from our headquarters in Provo, Utah. Our use of electronic work & communication tools gives us the unique ability to work from anywhere in the US.</p>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header p-4" id="headingSeven" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven"  collapsed>
            <h5 class="mb-0">
              <div class="bold">
                What is the onboarding process like?
              </div>
            </h5>
          </div>
          <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
            <div class="card-body">
              <p class="px-4">We review where your business is today, by completing the<a href="questionnaire.html" class="dark"><span class="font-italic bold">New Client Questionnaire<span></a> with you. Following our review, we’ll create a roadmap outlining specific milestones that we need to achieve together. You’ll work with a Partner and our expert onboarding team during the first few weeks to ensure that your transition is smooth.</p>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header p-4" id="headingEight" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight"  collapsed>
            <h5 class="mb-0">
              <div class="bold">
                What precautions does ProvenCFO take to protect my info?
              </div>
            </h5>
          </div>
          <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
            <div class="card-body">
              <p class="px-4">Access to client information is limited to only authorized users. Authorized users consist of ProvenCFO employees, and users specified by you, the client. All of our client usernames and passwords are stored using <span class="bold font-italic">LastPass Enterprise Integrated SSO Password Manager</span>.</p>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header p-4" id="headingNine" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine"  collapsed>
            <h5 class="mb-0">
              <div class="bold">
                Is there a Partner assigned to my business?
              </div>
            </h5>
          </div>
          <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
            <div class="card-body">
              <p class="px-4">One of the benefits to working with ProvenCFO is the access to Partners. You’ll be assigned a Partner to work with from the start of your relationship with us. We believe in a team approach at ProvenCFO, and the benefit to using a “Partner” model is the access you’ll have to the top minds in accounting, finance, and information systems</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="unevenLight_top"></div>
<div class="stdContainer bg-light">
  <div class="container">
  <div class="text-center mb-5"><h2 class="bold">Proven Solutions</h2></div>
    <div class="row justify-content-center">
      <div class="col-6 col-xl-2dot4 mb-3">
        <div class="beach_blue color box p-4 cursor" onclick="window.location.href = 'bookkeeping.html';">
          <div class="icon_bookkeeping mx-auto"></div>
          <div class=""><h5 class="bold">Bookkeeping</h5></div>
        </div>
      </div>
      <div class="col-6 col-xl-2dot4 mb-3">
        <div class="fresh_yellow color box p-4 cursor"  onclick="window.location.href = 'payroll.html';">
          <div class="icon_payroll mx-auto"></div>
          <div class=""><h5 class="bold">Payroll</h5></div>
        </div>
      </div>
      <div class="col-6 col-xl-2dot4 mb-3">
        <div class="passion_red color box p-4 cursor" onclick="window.location.href = 'billpay.html';">
          <div class="icon_billpay mx-auto"></div>
          <div class=""><h5 class="bold">Bill Pay</h5></div>
        </div>
      </div>
      <div class="col-6 col-xl-2dot4 mb-3">
        <div class="growth_green color box p-4 cursor" onclick="window.location.href = 'Capitaladvisory.html';">
          <div class="icon_Capitaladvisory mx-auto"></div>
          <div class=""><h5 class="bold">Capital Advisory</h5></div>
        </div>
      </div>
      <div class="col-6 col-xl-2dot4 mb-3">
        <div class="wisdom_purple color box p-4 cursor" onclick="window.location.href = 'CFOadvisory.html';">
          <div class="icon_CFOadvisory mx-auto"></div>
          <div class=""><h5 class="bold">CFO Advisory</h5></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="stdContainer truth_blue">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 col-md-8 col-lg-6 border border-dark color_box bg-white p-5">
        <div class="row justify-content-center">
          <div class="col-8">
            <div class="icon_pricing d-inline-block pt-3 float-right"></div>
            <p class="small mt-3">Starting at:</p>
            <h1>$399<span class="medium">/mo</span></h1>
            <div class="border-bottom border-dark my-3"></div>
            <p class="small bold">All plans include:</p>
            <div>
              <div class="check_mark d-inline-block mr-2"></div>
              <div class="d-inline-block">Software subscription costs</div>
            </div>
            <div>
              <div class="check_mark d-inline-block mr-2"></div>
              <div class="d-inline-block">Access to a partner</div>
            </div>
            <div>
              <div class="check_mark d-inline-block mr-2"></div>
              <div class="d-inline-block">Peace of mind</div>
            </div>
            <div class="input-group-append mt-3">
              <button class="btn btn-primary white px-4 btn-lg btn-block mt-2" type="button" id="button-addon2" onclick="window.location.href = 'pricing.html';">Check out our pricing</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="unevenTruthBlue"></div>

<div class="stdContainer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 col-md-8 col-xl-6">
        <h2 class="text-center">Our mission is to provide <span class="bold">Relevant, Reliable, Real-time</span> financial intelligence</h2>
      </div>
    </div>
  </div>
</div>
