---
layout: home
title: ProvenCFO - Trusted Financial Partner
tagline: ProvenCFO ensures your accounting and information systems are working for you.
header_image:   dashboard_header1.png
---
{% include JB/setup %}
{% include JB/tags_list %}


<div class="jumbotron jumbotron_light">
  <div class="container pt-5 mt-0">
    <div class="icon_techstack d-inline-block pt-3"></div><div class="ml-3 small bold d-inline-block" style="top:-14px; position: relative;">Our stack</div>
    <div class="row mt-3">
      <div class="col-lg-5 col-sm-8 col-12">
        <h1 class="mt-5">Our <span class="bg-dark text-white px-2">tech stack</span></h1>
        <h2 class="mt-5">We're often asked what software we use and <span class="bold">recommend</span> for our clients. So here it is.</h2>
      </div>
      <div class="col-lg-7 col-sm-12 col-12 mb-n5">
        <img src="https://via.placeholder.com/857x571" class="img-fluid" alt="Responsive image">
      </div>
    </div>
  </div>
</div>

<div class="blackBanner text-white">
  <div class="container pb-5">
    <div class="pt-5 mx-auto text-center"></div>
    <div class="row justify-content-center mt-0">

    </div>
  </div>
</div>

<div class="smallContainer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="smallContainer beach_blue color_box">
          <div class="container">
            <div class="row">
              <div class="col-10 col-lg-6 px-5">
                <div class="mb-4 pl-5 "><h4>Grow with ProvenCFO</h4></div>
                <div class="pl-5"><p class="small">Experience the power of ProvenCFO in your business. Plans start at $399 per month.</p></div>
              </div>
              <div class="col-10 col-lg-6 px-5">
                <form class="form-inline mb-4 d-flex justify-content-end mr-5">
                  <div class="input-group mb-3 rounded-left min480">
                    <input type="text" class="form-control py-4 pr-5 border border-dark " placeholder="Your email address" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary white px-4" type="button" id="button-addon2">Get Started</button>
                    </div>
                  </div>
                </form>
                <div class="container">
                  <div class="row d-flex justify-content-end mr-5">
                    <div class="check_mark2 mt-1"></div><div class="ml-2 mr-4">Easy setup</div>
                    <div class="check_mark2 mt-1"></div><div class="ml-2 mr-4">Expert support</div>
                    <div class="check_mark2 mt-1"></div><div class="ml-2">Cancel anytime</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
