---
layout: home
title: Training
tagline: ProvenCFO is your trusted financial business partner
header_image:   chalkboard.jpg
---
{% include JB/setup %}
{% include JB/tags_list %}

<div class="home" itemscope itemtype="http://schema.org/LocalBusiness">
  <div class="header3 noselect">
    <div class="header_image_3" style="background-image:url('/assets/images/{{page.header_image}}');" >
      <div class="header_text4">
        <div class="container">
          <div class="col-sm-12 nopadding">
            <div class="uppercase"><h6 class="dash featuretag text-center"><span itemprop="name">&nbsp;</h6></div>
            <div class="lightbackground" style="margin-top:10px; margin-bottom:45px;"><h1 class="dash featuretitle text-center" itemprop="description">Training</h1></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="feature_style_1 noselect">
    <div class="container nopadding">
      <div class="col-md-8 col-md-offset-2"><h3 class="">Get up to Speed</h3></div>
      <div class="clearfix"></div>
      <div class="spacer small"></div>
      <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
        <h6 class="">We've curated some of the best training videos around to help with your software learning needs. Spend as much time here as needed.</h6>
      </div>
      <div class="clearfix"></div>
      <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-0 featureBox featureBoxHeight">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/KxbknP5lxq8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <h4>Xero: Basic Bookkeeping</h4>
      </div>
      <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-0 featureBox featureBoxHeight">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wUMjDq2lmVY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <h4>Xero: The Dashboard</h4>
      </div>
      <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-0 featureBox featureBoxHeight">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/SQlSOsnB8NM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <h4>Xero: Sales and online invoicing</h4>
      </div>
      <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-0 featureBox featureBoxHeight">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/WVqlJ7QjUls" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <h4>Xero: Invoice Reminders</h4>
      </div>
      <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-0 featureBox featureBoxHeight">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/hMZlBy4XgIQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <h4>Xero: Online Quotes</h4>
      </div>
      <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-0 featureBox featureBoxHeight">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/kASBRovYLBg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <h4>Xero: Manage bills and purchases</h4>
      </div>
      <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-0 featureBox featureBoxHeight">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/BMVO3SttbZ0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <h4>Xero: Purchase Orders</h4>
      </div>
      <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-0 featureBox featureBoxHeight">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/sh_udsFPtd0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <h4>Xero: Paying suppliers</h4>
      </div>
      <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-0 featureBox featureBoxHeight">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/RGkaEFerr_Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <h4>Xero: Adding New Users</h4>
      </div>
      <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-0 featureBox featureBoxHeight">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Lw1rN1BH-8s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <h4>Xero: Managing contacts</h4>
      </div>
      <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-0 featureBox featureBoxHeight">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/U0qHfMfMcpE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <h4>Xero: Search feature</h4>
      </div>


    </div>
  </div>




  <div class="feature_style_1 noselect">
    <div class="container nopadding">
      <div class="col-md-8 col-md-offset-2 nopadding"><div class="dash_icon_handshake"></div></div>
      <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
        <h3 class="text-center">Work hand-in-hand with small business professionals</h3>
        <a href="contact.html"><div style="margin-top:40px;" class="centered"><button class="btn btn-primary btn-large centered" style="display:inherit;position:relative;">GET STARTED</button></div></a>
      </div>
    </div>
  </div>
</div>
