
html,
body {
  height: 100%;
  font-family: 'Libre Franklin';
  font-style: normal;
  color: #181818;
}

.sidebar {

  height: 100%; // experiment with this value, try changing to 110vh
  min-height: 200px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
}

.main {
  height: 100%;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  overflow:auto;
}

.main,
.sidebar {
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

// Decoration for demo

body {
  padding: 3%;
  background-color: $color-body;
  font-size: 20px;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

code, pre {
  background-color: #ccc;
  padding: 0 3px;
  border-radius: 5px;
}

a.dark {
  color: #181818 !important;
}

.bottom {
  justify-self: bottom;
}

.clearfix:after{
  display: block;
  content: "";
  clear: both;
}

.beach_blue {
  background-color: #A3FFF6;
}


.beach_blue_text {
 color:#A3FFF6 !important;
}
.highlight_beachblue {
  background: linear-gradient(to bottom, #FFFFFF 70%,#FFFFFF 70%,#FFFFFF 70%,#A3FFF6 30%,#A3FFF6 70%);
}

.fresh_yellow {
  background-color:#FFE68E;
}

.fresh_yellow_text {
  color:#FFE68E !important;
}

.passion_red {
  background-color: #EC7965;
}

.passion_red_text {
  color: #EC7965 !important;
}

.wisdom_purple {
  background-color: #A4AEF1;
}

.wisdom_purple_text {
  color: #A4AEF1 !important;
}

.growth_green {
  background-color: #5BCE81;
}
.growth_green_text {
  color: #5BCE81;
}

.truth_blue {
  background-color: #5892E6;
}
.truth_blue_text {
  color: #5892E6 !important;
}

.cursor {
  cursor: pointer;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

.bg-dark {
  background-color: #181818 !important;
}

.bg-light {
  background-color: #F5F2F2 !important;
}

.container {
  max-width: 1440px;
  margin:0 auto;
}

.stdContainer {
  padding-top: 130px;
  padding-bottom: 130px;
}

.stdContainerTall {
  min-height:550px;
}

.smallContainer {
  padding-top:70px;
  padding-bottom:70px;
}

.spacer {
  border-bottom: 1px dashed #181818;
  width:100%;
}

.blackBanner {
  background-color:#181818;
  margin:0 auto;
}
.unevenDark {
  background-image: url('/assets/images/unevenDark.png');
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  height: 20px;
  width: auto;
  margin-top:0px;
}

.unevenBeachBlue {
  background-image: url('/assets/images/unevenBeachBlue.png');
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  height: 20px;
  width: auto;
  margin-top:0px;
}

.unevenFreshYellow {
  background-image: url('/assets/images/unevenFreshYellow.png');
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  height: 20px;
  width: auto;
  margin-top:0px;
}
.unevenFreshYellow_top {
  background-image: url('/assets/images/unevenFreshYellow_top.png');
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  height: 20px;
  width: auto;
  margin-top:0px;
}
.unevenPassionRed {
  background-image: url('/assets/images/unevenPassionRed.png');
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  height: 20px;
  width: auto;
  margin-top:0px;
}
.unevenPassionRed_top {
  background-image: url('/assets/images/unevenPassionRed_top.png');
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  height: 20px;
  width: auto;
  margin-top:0px;
}

.unevenWisdomPurple {
  background-image: url('/assets/images/unevenWisdomPurple.png');
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  height: 20px;
  width: auto;
  margin-top:0px;
}
.unevenWisdomPurple_top {
  background-image: url('/assets/images/unevenWisdomPurple_top.png');
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  height: 20px;
  width: auto;
  margin-top:0px;
}

.unevenGrowthGreen {
  background-image: url('/assets/images/unevenGrowthGreen.png');
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  height: 20px;
  width: auto;
  margin-top:0px;
}
.unevenTruthBlue {
  background-image: url('/assets/images/unevenTruthBlue.png');
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  height: 20px;
  width: auto;
  margin-top:0px;
}


.unevenLight {
  background-image: url('/assets/images/unevenLight.png');
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  height: 20px;
  width: auto;
  margin-top:0px;
}

.unevenLight_top {
  background-image: url('/assets/images/unevenLight_top.png');
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  height: 20px;
  width: auto;
  margin-top:0px;
}

a {
  text-decoration: none;
   display: inline-block;
   padding:0;
}

footer a, footer a:hover, footer a:focus, footer a:active {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 38px;
  letter-spacing: 0.1px;
}

.quote {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.author {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.1px;
}

.medium {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.1px;
}

.bold {
  font-weight: 700;
}

.notbold {
  font-weight: normal !important;
}

.superbold {
  font-weight:800;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1px;
}


h2 {
  font-size: 28px;
  line-height: 32px;
}

h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
}

h4 {
  font-weight:700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.5px;

}
h5 {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.1px;
}
h6 {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
}

.navbar-light .navbar-nav .nav-link {
  color: #181818;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.provencfo_logo {
  background: url('/assets/images/provenCFO_logo.png') 149px 47px;
  width: 149px;
  height: 47px;
}

.provencfo_logo_dark {
  background: url('/assets/images/provenCFO_logo_dark.png') 149px 47px;
  width: 149px;
  height: 47px;
}

.jumbotron {
  background-color: #ffffff;
  border-radius: 0rem;
  margin-bottom:0px;
}

.jumbotron_light {
  background: url('/assets/images/jumbotron_light.png');
}

.header_image {
  background: url('/assets/images/Illustration_01.png') 868px 618px;
  width: 868px;
  height: 618px;
}

.rightBorder {
  border-right: 1px dashed #000000;
}

.border-4 {
  border-width: 4px !important;
}

.logo_clarke {
  background: url('/assets/images/logo_clarke.png') 131px 61px;
  width: 131px;
  height: 61px;
}
.logo_kiln {
  background: url('/assets/images/logo_kiln.png') 75px 38px;
  width: 75px;
  height: 38px;
  margin-top: 8px;
}

.logo_kiln_dark {
  background: url('/assets/images/logo_kiln_dark.png') 72px 36px;
  width: 72px;
  height: 36px;
}

.logo_clarke_dark {
  background: url('/assets/images/logo_clarke_dark.png') 131px 61px;
  width: 131px;
  height: 61px;
  left:-11px;
  position:relative;
}

.logo_oxpine_dark {
  background: url('/assets/images/logo_oxpine_dark.png') 103px 36px;
  width: 103px;
  height: 36px;
}

.logo_finnemma_dark {
  background: url('/assets/images/logo_finnemma_dark.png') 180px 112px;
  width: 180px;
  height: 112px;
  left:-20px;
  position:relative;
}

.logo_oxpine {
  background: url('/assets/images/logo_oxpine.png') 108px 38px;
  width: 108px;
  height: 38px;
  margin-top:8px;
}

.logo_xero {
  background: url('/assets/images/logo_xero.png') 80px 80px;
  width:80px;
  height: 80px;
}

.logo_qb {
  background: url('/assets/images/logo_qb.png') 80px 80px;
  width: 80px;
  height: 80px;
}

.logo_gusto {
  background: url('/assets/images/logo_gusto.png') 160px 62px;
  width: 160px;
  height: 62px;
}

.logo_stripe {
  background: url('/assets/images/logo_stripe.png') 160px 68px;
  width: 160px;
  height: 68px;
}

.logo_foodandcare {
  background: url('/assets/images/logo_foodandcare.png') 382px 64px;
  width: 382px;
  height: 64px;
}
.logo_unitedway {
  background: url('/assets/images/logo_unitedway.png') 167px 88px;
  width: 167px;
  height: px;
}

.icon_bookkeeping_blue {
  background: url('/assets/images/icon_bookkeeping_blue.png') 37px 36px;
  width: 37px;
  height: 36px;
}

.icon_techstack {
  background: url('/assets/images/icon_techstack.png') 34px 36px;
  width: 34px;
  height: 36px;
}

.icon_payroll_yellow {
  background: url('/assets/images/icon_payroll_yellow.png') 36px 36px;
  width: 36px;
  height: 36px;
}
.icon_billpay_red {
  background: url('/assets/images/icon_billpay_red.png') 36px 36px;
  width: 36px;
  height: 36px;
}

.icon_CFOadvisory_purple {
  background: url('/assets/images/icon_CFOadvisory_purple.png') 36px 36px;
  width: 36px;
  height: 36px;
}
.icon_Capitaladvisory_green {
  background: url('/assets/images/icon_Capitaladvisory_green.png') 36px 36px;
  width: 36px;
  height: 36px;
}
.icon_givingback_red {
  background: url('/assets/images/icon_givingback_red.png') 36px 36px;
  width: 36px;
  height: 36px;
}
.icon_worklife_purple {
  background: url('/assets/images/icon_worklife_purple.png') 35px 36px;
  width: 35px;
  height: 36px;
}
.icon_teamwork_yellow {
  background: url('/assets/images/icon_teamwork_yellow.png') 36px 21px;
  background-position: top left;
  background-repeat: no-repeat;
  width: 36px;
  height: 21px;

}
.height500 {
  min-height: 500px;
}
.icon_about {
  background: url('/assets/images/icon_about.png') 36px 36px;
  width: 36px;
  height: 36px;
}
.icon_pricing {
  background: url('/assets/images/icon_pricing.png') 65px 64px;
  width: 65px;
  height: 64px;
}
.icon_whyproven {
  background: url('/assets/images/icon_whyproven.png') 36px 36px;
  width: 36px;
  height: 36px;
}
.icon_questionnaire {
  background: url('/assets/images/icon_questionnaire.png') 36px 36px;
  width: 36px;
  height: 36px;
}

.pricingBox {
  min-height: 550px;
}

.pricingIllustration {
  background-color:#F5F2F2;
  height:auto;
  padding-top:100px;
  margin-bottom:-500px;
}
.pricingHeader {
  background-color:#181818 !important;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color:#ffffff;
  font-weight:400;
  font-size: 16px;
  line-height: 24px;
  height:60px;
  margin-bottom:-6px;
  z-index: 4;
  position: relative;
  font-weight:600;
}

.pricingHeaderClear {
  height:60px;
  z-index: 4;
  position: relative;
}

.headerVertical {
  padding-top:18px;
}

.z2 {
  z-index: 2;
}

.pt6px {
  padding-top:6px;
}

.unevenBeachBlue.mb-n4 {
  z-index:1;
  position:relative;
  height: 24px;
}

.small {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.1px;
}

.small24 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
}

.min480 {
  min-width: 480px;
}

.card {
  border:none;
}
.card-header {
  border: none;
  background-color:#F5F2F2;
  border-radius:none;
  cursor: pointer;
}

.small32 {
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.1px;
}

.tiny {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.1px;
}

.rightWhiteArrow {
  background: url('/assets/images/rightWhiteArrow.png') 13px 11px;
  width: 13px;
  height: 11px;
}

.rightBlackArrow {
  background: url('/assets/images/rightBlackArrow.png') 13px 11px;
  width: 13px;
  height: 11px;
}

.Checkbox {
  background: url('/assets/images/w.png') 13px 11px;
  width: 13px;
  height: 11px;
}

.btn-primary {
  background: #181818;
  border-radius: 4px;
  border-color: #181818;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 24px
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle, .btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
    background-color: #3e3e3e;
    border-color: #3e3e3e;
    box-shadow: none;
}

.btn-secondary {
  background-color:#808080;
  border-radius: 4px;
  border-color: #808080;
}

.btn-lg {
  padding: 1rem 1rem !important;
}

.form-control {
  background: #FFFFFF;
  border: 2px solid #181818;
  box-sizing: border-box;
  height: 48px;
}

.hidden {
  display: none;
}


.icon_difference {
  background: url('/assets/images/icon_difference.png') 64px 64px;
  width: 64px;
  height: 64px;
}

.icon_integrate {
  background: url('/assets/images/icon_integrate.png') 69px 64px;
  width: 69px;
  height: 64px;
}

.icon_record {
  background: url('/assets/images/icon_record.png') 65px 66px;
  width: 65px;
  height: 66px;
}

.icon_report {
  background: url('/assets/images/icon_report.png') 65px 66px;
  width: 65px;
  height: 66px;
}

.icon_automate {
  background: url('/assets/images/icon_automate.png') 64px 64px;
  width: 64px;
  height: 64px;
}

.icon_technology {
  background: url('/assets/images/icon_technology.png') 64px 64px;
  width: 64px;
  height: 64px;
}

.icon_experience {
  background: url('/assets/images/icon_experience.png') 64px 64px;
  width: 64px;
  height: 64px;
}

.icon_access {
  background: url('/assets/images/icon_access.png') 64px 64px;
  width: 64px;
  height: 64px;
}
.icon_partnerships {
  background: url('/assets/images/icon_partnerships.png') 64px 64px;
  width: 64px;
  height: 64px;
}
.icon_plan {
  background: url('/assets/images/icon_plan.png') 64px 64px;
  width: 64px;
  height: 64px;
}

.icon_verify {
  background: url('/assets/images/icon_verify.png') 64px 64px;
  width: 64px;
  height: 64px;
}
.icon_schedule {
  background: url('/assets/images/icon_schedule.png') 64px 64px;
  width: 64px;
  height: 64px;
}
.icon_fulfil {
  background: url('/assets/images/icon_fulfil.png') 64px 64px;
  width: 64px;
  height: 64px;
}
.icon_systemDesign {
  background: url('/assets/images/icon_systemDesign.png') 64px 64px;
  width: 64px;
  height: 64px;
}
.icon_modeling {
  background: url('/assets/images/icon_modeling.png') 64px 64px;
  width: 64px;
  height: 64px;
}
.icon_KPIdashboards {
  background: url('/assets/images/icon_KPIdashboards.png') 64px 64px;
  width: 64px;
  height: 64px;
}
.icon_structure {
  background: url('/assets/images/icon_structure.png') 64px 64px;
  width: 64px;
  height: 64px;
}
.icon_capexperience {
  background: url('/assets/images/icon_capexperience.png') 64px 64px;
  width: 64px;
  height: 64px;
}
.icon_debtAdvisory {
  background: url('/assets/images/icon_debtAdvisory.png') 64px 64px;
  width: 64px;
  height: 64px;
}
.icon_relationships {
  background: url('/assets/images/icon_relationships.png') 64px 64px;
  width: 64px;
  height: 64px;
}
.icon_fullservice {
  background: url('/assets/images/icon_fullservice.png') 64px 64px;
  width: 64px;
  height: 64px;
}
.icon_capable {
  background: url('/assets/images/icon_capable.png') 64px 64px;
  width: 64px;
  height: 64px;
}
.icon_scalable {
  background: url('/assets/images/icon_scalable.png') 64px 64px;
  width: 64px;
  height: 64px;
}
.icon_CFOapp_blue {
  background: url('/assets/images/icon_CFOapp_blue.png') 64px 64px;
  width: 64px;
  height: 64px;
}
.icon_givingback {
  background: url('/assets/images/icon_givingback.png') 62px 60px;
  width: 62px;
  height: 60px;
  position:relative;
  top:-20px;
  left:50px;
  margin-bottom:0px;
}
.icon_worklife {
  background: url('/assets/images/icon_worklife.png') 64px 67px;
  width: 64px;
  height: 67px;
  position:relative;
  top:-20px;
  left:50px;
  margin-bottom:-7px;
}
.icon_teamwork {
  background: url('/assets/images/icon_teamwork.png') 64px 36px;
  width: 64px;
  height: 36px;
  position:relative;
  top:-20px;
  left:50px;
  margin-bottom:24px;
}

.min-height-66 {
  min-height: 66px;
}
.check_mark {
  background: url('/assets/images/check_mark.png') 17px 24px;
  width: 17px;
  height: 24px;
  position:relative;
  top:6px;
}

.check_mark2 {
  background: url('/assets/images/Checkmark.png') 15px 14px;
  width: 15px;
  height: 14px;
  position:relative;
}

.color_box {
  border-radius: 6px;
}

.color_box p.inner {
  min-height:66px;
}

.icon_position {
  top:-33px;
}

.icon_bookkeeping {
  background: url('/assets/images/icon_bookkeeping.png') 62px 64px;
  width: 62px;
  height: 64px;
  top:-33px;
  margin-bottom:14px;
}

.icon_payroll {
  background: url('/assets/images/icon_payroll.png') 64px 56px;
  width: 64px;
  height: 56px;
  top:-33px;
  margin-bottom: 22px;
}


.icon_billpay {
  background: url('/assets/images/icon_billpay.png') 62px 64px;
  width: 62px;
  height: 64px;
  top:-33px;
  margin-bottom:14px;
}

.icon_CFOadvisory {
  background: url('/assets/images/icon_CFOadvisory.png') 64px 63px;
  width: 64px;
  height: 63px;
  top:-33px;
  margin-bottom:15px;
}

.icon_Capitaladvisory {
  background: url('/assets/images/icon_Capitaladvisory.png') 64px 62px;
  width: 64px;
  height: 62px;
  top:-33px;
  margin-bottom:16px;
}

.icon_CFOapp {
  background: url('/assets/images/icon_CFOapp.png') 64px 64px;
  width: 64px;
  height: 64px;
  top:-33px;
  margin-bottom:14px;
}

.icon_USA {
  background: url('/assets/images/icon_USA.png') 62px 44px;
  width: 62px;
  height: 44px;
}

.icon_heart {
  background: url('/assets/images/icon_heart.png') 48px 48px;
  width: 48px;
  height: 48px;
}

.icon_twitter {
  background: url('/assets/images/icon_twitter.png') 16px 14px;
  width: 16px;
  height: 14px;
}

.icon_facebook {
  background: url('/assets/images/icon_facebook.png') 16px 16px;
  width: 16px;
  height: 16px;
}
.icon_linkedin {
  background: url('/assets/images/icon_linkedin.png') 16px 16px;
  width: 16px;
  height: 16px;
}
.icon_linkedinDark {
  background: url('/assets/images/icon_linkedinDark.png') 24px 24px;
  width: 24px;
  height: 24px;
  position: relative;
  top: -20px;
  left: 231px;
  float:left;
  display: inline-block;
}

.weirdposition {
  position:relative;
  left:-24px;
}

.weirdposition2 {
  top:170px;
  left:60px;
}
.photo_placeholder {
  width:255px;
  height:230px;
}

.newIcon {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  background-color:#E01E5A;
  border-radius: 4px;
  display: inline-block;
  top:-63px;
  position:relative;
}

.backsplashtest {
  background-image: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0), rgba(255,255,255,0)), url('/assets/images/backsplashtest.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  height:700px;
  background-color:white;
}

.backsplashtest2 {
  background-image: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0), rgba(255,255,255,0)), url('/assets/images/backsplashtest2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  height:700px;
  background-color:white;
}

.backsplashtest3 {
  background-image: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0), rgba(255,255,255,0)), url('/assets/images/backsplashtest3.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  height:700px;
  background-color:white;
}

.backsplashtest4 {
  background-image: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0), rgba(255,255,255,0)), url('/assets/images/backsplashtest4.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  height:700px;
  background-color:white;
}


.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.myDiv, .myDiv2, .myDiv3, .myDiv4, .myDiv5, .myDiv6, .myDiv7, .myDiv8, .myDiv9, .myDiv10, .myDiv11, .myDiv12, .myDiv13, .myDiv14, .myDiv15, .myDiv16, .myDiv17, .myDiv18, .myDiv19, .myDiv20, .myDiv21, .myDiv22, .myDiv23, .myDiv24, .myDiv25, .myDiv26, .myDiv27, .myDiv28, .myDiv29 {
	display:none;
}

#showOne, #show2One, #show3BankAccount, #show4Yes, #show5Yes, #show6Yes, #show7Yes, #show8Yes, #show9Yes, #show10Yes, #show11Yes, #show12Yes, #show13Yes, #show14Yes, #show15Yes, #show16Yes, #show17Yes, #show18Yes, #show19No, #show20Yes, #show21Yes, {
}


@media (min-width: 540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
/* Extra small devices (portrait phones, less than 576px)*/
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

 }

/*Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

 }

/* Large devices (desktops, 992px and up */
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }
